﻿@model NIBL.Models.ViewModels.Abouts.AboutEditViewModel

@{
    ViewBag.Title = "Edit Page Content";

    var sId = ViewBag.SubMenuId;
    var pId = ViewBag.PageId;
}

<!-- start page title -->
<div class="row align-items-center">
    @Html.Partial("~/Areas/Admin/Views/Shared/_PageHeaderLayout.cshtml")

    <div class="col-sm-6">
        <div class="float-right d-none d-md-block">
            <button class="btn btn-primary waves-effect waves-light" aria-haspopup="true" aria-expanded="false" onclick="location.href='@Url.Action("Index", "About", new { id =  ViewBag.PageId, sid = ViewBag.SubMenuId })';">
                <i class="fas fa-step-backward mr-2"></i> @Html.ActionLink("Go Back", "Index", new { Area = "Admin", Controller = "About", id = ViewBag.PageId, sid = ViewBag.SubMenuId })
            </button>
        </div>
    </div>
</div>
<!-- end page title -->

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">

                <h4 class="card-title">Page</h4>
                <p class="card-title-desc">
                    Add new page information in the application.
                </p>

                @using (Html.BeginForm("Edit", "About", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.Id)

                        <input type="hidden" name="sId" value="@sId" />
                        <input type="hidden" name="pId" value="@pId" />

                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs nav-tabs-custom" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#overview" role="tab">
                                    <span class="d-block d-sm-none"><i class="fas fa-home"></i></span>
                                    <span class="d-none d-sm-block">Overview</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#mission" role="tab">
                                    <span class="d-block d-sm-none"><i class="far fa-user"></i></span>
                                    <span class="d-none d-sm-block">Mission</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#objective" role="tab">
                                    <span class="d-block d-sm-none"><i class="far fa-envelope"></i></span>
                                    <span class="d-none d-sm-block">Objective</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#valueethics" role="tab">
                                    <span class="d-block d-sm-none"><i class="far fa-envelope"></i></span>
                                    <span class="d-none d-sm-block">Value And Ethics</span>
                                </a>
                            </li>
                        </ul>

                        <div class="tab-content">
                            <div class="tab-pane active p-3" id="overview" role="tabpanel">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.OverviewTitle, htmlAttributes: new { @class = "control-label col-md-6" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.OverviewTitle, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.OverviewTitle, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.OverviewDescription, htmlAttributes: new { @class = "control-label col-md-6" })
                                            <div class="col-md-11">
                                                @Html.TextAreaFor(model => model.OverviewDescription, new { @class = "form-control editorHtml", @rows = "7" })
                                                @Html.ValidationMessageFor(model => model.OverviewDescription, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix">&nbsp;</div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.OverviewImageAltText, htmlAttributes: new { @class = "control-label col-md-6" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.OverviewImageAltText, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.OverviewImageAltText, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.OverviewFileUpload, htmlAttributes: new { @class = "control-label col-md-6" })
                                            <div class="col-md-10">
                                                @Html.TextBoxFor(model => model.OverviewFileUpload, new { type = "file", @class = "filestyle" })
                                                @Html.ValidationMessageFor(model => model.OverviewFileUpload, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        @if (!string.IsNullOrEmpty(Model.OverviewImagePath))
                                        {
                                            <div class="form-group">
                                                <div class="col-md-10">
                                                    <img src="@Url.Content(Model.OverviewImagePath)" alt="@Model.OverviewImageAltText" width="300" height="92" class="img-thumbnail" />
                                                    @Html.EditorFor(model => model.OverviewImagePath, new { htmlAttributes = new { @class = "form-control d-none" } })
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.OverviewTitleNP, htmlAttributes: new { @class = "control-label col-md-6" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.OverviewTitleNP, new { htmlAttributes = new { @class = "form-control nepali" } })
                                                @Html.ValidationMessageFor(model => model.OverviewTitleNP, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.OverviewDescriptionNP, htmlAttributes: new { @class = "control-label col-md-6" })
                                            <div class="col-md-11">
                                                @Html.TextAreaFor(model => model.OverviewDescriptionNP, new { @class = "form-control editorHtml nepali", @rows = "7" })
                                                @Html.ValidationMessageFor(model => model.OverviewDescriptionNP, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane p-3" id="mission" role="tabpanel">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.MissionTitle, htmlAttributes: new { @class = "control-label col-md-6" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.MissionTitle, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.MissionTitle, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.MissionDescription, htmlAttributes: new { @class = "control-label col-md-6" })
                                            <div class="col-md-11">
                                                @Html.TextAreaFor(model => model.MissionDescription, new { @class = "form-control editorHtml", @rows = "7" })
                                                @Html.ValidationMessageFor(model => model.MissionDescription, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix">&nbsp;</div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.MissionImageAltText, htmlAttributes: new { @class = "control-label col-md-6" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.MissionImageAltText, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.MissionImageAltText, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.MissionFileUpload, htmlAttributes: new { @class = "control-label col-md-6" })
                                            <div class="col-md-10">
                                                @Html.TextBoxFor(model => model.MissionFileUpload, new { type = "file", @class = "filestyle" })
                                                @Html.ValidationMessageFor(model => model.MissionFileUpload, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        @if (!string.IsNullOrEmpty(Model.MissionImagePath))
                                        {
                                            <div class="form-group">
                                                <div class="col-md-10">
                                                    <img src="@Url.Content(Model.MissionImagePath)" alt="@Model.MissionImageAltText" width="300" height="92" class="img-thumbnail" />
                                                    @Html.EditorFor(model => model.MissionImagePath, new { htmlAttributes = new { @class = "form-control d-none" } })
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.MissionTitleNP, htmlAttributes: new { @class = "control-label col-md-6" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.MissionTitleNP, new { htmlAttributes = new { @class = "form-control nepali" } })
                                                @Html.ValidationMessageFor(model => model.MissionTitleNP, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.MissionDescriptionNP, htmlAttributes: new { @class = "control-label col-md-6" })
                                            <div class="col-md-11">
                                                @Html.TextAreaFor(model => model.MissionDescriptionNP, new { @class = "form-control editorHtml nepali", @rows = "7" })
                                                @Html.ValidationMessageFor(model => model.MissionDescriptionNP, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane p-3" id="objective" role="tabpanel">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.ObjectiveTitle, htmlAttributes: new { @class = "control-label col-md-6" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.ObjectiveTitle, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.ObjectiveTitle, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.ObjectiveDescription, htmlAttributes: new { @class = "control-label col-md-6" })
                                            <div class="col-md-11">
                                                @Html.TextAreaFor(model => model.ObjectiveDescription, new { @class = "form-control editorHtml", @rows = "7" })
                                                @Html.ValidationMessageFor(model => model.ObjectiveDescription, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix">&nbsp;</div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.ObjectiveImageAltText, htmlAttributes: new { @class = "control-label col-md-6" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.ObjectiveImageAltText, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.ObjectiveImageAltText, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.ObjectiveFileUpload, htmlAttributes: new { @class = "control-label col-md-6" })
                                            <div class="col-md-10">
                                                @Html.TextBoxFor(model => model.ObjectiveFileUpload, new { type = "file", @class = "filestyle" })
                                                @Html.ValidationMessageFor(model => model.ObjectiveFileUpload, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        @if (!string.IsNullOrEmpty(Model.ObjectiveImagePath))
                                        {
                                            <div class="form-group">
                                                <div class="col-md-10">
                                                    <img src="@Url.Content(Model.ObjectiveImagePath)" alt="@Model.ObjectiveImageAltText" width="300" height="92" class="img-thumbnail" />
                                                    @Html.EditorFor(model => model.ObjectiveImagePath, new { htmlAttributes = new { @class = "form-control d-none" } })
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.ObjectiveTitleNP, htmlAttributes: new { @class = "control-label col-md-6" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.ObjectiveTitleNP, new { htmlAttributes = new { @class = "form-control nepali" } })
                                                @Html.ValidationMessageFor(model => model.ObjectiveTitleNP, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.ObjectiveDescriptionNP, htmlAttributes: new { @class = "control-label col-md-6" })
                                            <div class="col-md-11">
                                                @Html.TextAreaFor(model => model.ObjectiveDescriptionNP, new { @class = "form-control editorHtml nepali", @rows = "7" })
                                                @Html.ValidationMessageFor(model => model.ObjectiveDescriptionNP, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane p-3" id="valueethics" role="tabpanel">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.ValueEthicTitle, htmlAttributes: new { @class = "control-label col-md-6" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.ValueEthicTitle, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.ValueEthicTitle, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.ValueEthicDescription, htmlAttributes: new { @class = "control-label col-md-6" })
                                            <div class="col-md-11">
                                                @Html.TextAreaFor(model => model.ValueEthicDescription, new { @class = "form-control editorHtml", @rows = "7" })
                                                @Html.ValidationMessageFor(model => model.ValueEthicDescription, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.ValueEthicTitleNP, htmlAttributes: new { @class = "control-label col-md-6" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.ValueEthicTitleNP, new { htmlAttributes = new { @class = "form-control nepali" } })
                                                @Html.ValidationMessageFor(model => model.ValueEthicTitleNP, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.ValueEthicDescriptionNP, htmlAttributes: new { @class = "control-label col-md-6" })
                                            <div class="col-md-11">
                                                @Html.TextAreaFor(model => model.ValueEthicDescriptionNP, new { @class = "form-control editorHtml nepali", @rows = "7" })
                                                @Html.ValidationMessageFor(model => model.ValueEthicDescriptionNP, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.IsEnabled, htmlAttributes: new { @class = "control-label col-md-6" })
                                    <div class="col-md-10">
                                        <div class="checkbox">
                                            @Html.EditorFor(model => model.IsEnabled)
                                            @Html.ValidationMessageFor(model => model.IsEnabled, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix">&nbsp;</div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="submit" value="Save" class="btn btn-primary waves-effect waves-light" />
                                        @*<input type="reset" value="Reset" class="btn btn-primary waves-effect waves-light" />*@
                                        <input type="button" value="Cancel" class="btn btn-primary waves-effect waves-light" onclick="location.href='@Url.Action("Index", "About", new { id = ViewBag.PageId, sid = ViewBag.SubMenuId })';" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div> <!-- end col -->
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}