﻿<!DOCTYPE html>
<html lang="en" class="no-js css-menubar">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewBag.Title - NIBL</title>

    <!-- app favicon -->
    <link rel="shortcut icon" href="~/Content/theme/images/favicon.ico" />
    <!-- bootstrap css -->
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap-extend.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/loginUI/login.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/loginUI/login-v3.css">

    <style type="text/css">
        .brand-img { width: 310px; height: 55px; margin-right: 13px; margin-bottom: 30px; }
    </style>
</head>
<body class="animsition page-login-v3 layout-full" style="animation-duration: 800ms; opacity: 1;">
    <div class="page vertical-align text-center" data-animsition-in="fade-in" data-animsition-out="fade-out">
        <div class="page-content vertical-align-middle">
            <div class="panel">
                <div class="panel-body">
                    <div class="brand">
                        <img class="brand-img" src="~/Content/theme/images/logo-light-nibl_.png" alt="Nepal Investment Bank Ltd.">
                    </div>
                    @RenderBody()
                </div>
            </div>
            <footer class="page-copyright page-copyright-inverse">
                <p>© @DateTime.Now.Year NIBL. All Rights Reserved.</p>
                <p>Powered By PagodaLabs</p>
            </footer>
        </div>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>