﻿@model NIBL.Models.ViewModels.ForexViewModel

@{
    ViewBag.Title = "Import";

    var sId = ViewBag.SubMenuId;
    var pId = ViewBag.PageId;
}

<!-- start page title -->
<div class="row align-items-center">
    @Html.Partial("~/Areas/Admin/Views/Shared/_PageHeaderLayout.cshtml")

    <div class="col-sm-6">
        <div class="float-right d-none d-md-block">
            <button class="btn btn-primary waves-effect waves-light" aria-haspopup="true" aria-expanded="false" onclick="location.href='@Url.Action("Index", "Forex", new { id =  ViewBag.PageId, sid = ViewBag.SubMenuId })';">
                <i class="fas fa-step-backward mr-2"></i> @Html.ActionLink("Go Back", "Index", new { Area = "Admin", Controller = "Forex", id = ViewBag.PageId, sid = ViewBag.SubMenuId })
            </button>
        </div>
    </div>
</div>
<!-- end page title -->

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">

                <h4 class="card-title">Foreign Exchange</h4>
                <p class="card-title-desc">
                    Add new foreign exchange information in the application.
                </p>

                @using (Html.BeginForm("Import", "Forex", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <input type="hidden" name="sId" value="@sId" />
                <input type="hidden" name="pId" value="@pId" />

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.ImportFileUpload, htmlAttributes: new { @class = "control-label col-md-6" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(model => model.ImportFileUpload, new { type = "file", @class = "filestyle" })
                                @Html.ValidationMessageFor(model => model.ImportFileUpload, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="clearfix">&nbsp;</div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Save" class="btn btn-primary waves-effect waves-light" />
                                @*<input type="reset" value="Reset" class="btn btn-primary waves-effect waves-light" />*@
                                <input type="button" value="Cancel" class="btn btn-primary waves-effect waves-light" onclick="location.href='@Url.Action("Index", "Forex", new { id = ViewBag.PageId, sid = ViewBag.SubMenuId })';" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                }
            </div>
        </div>
    </div> <!-- end col -->
</div>