﻿@model IEnumerable<NIBL.Models.ViewModels.ForexViewModel>

@{
    ViewBag.Title = "Foreign Exchange";
    var sId = ViewBag.SubMenuId;
    var pId = ViewBag.PageId;
}

<!-- start page title -->
<div class="row align-items-center">
    @Html.Partial("~/Areas/Admin/Views/Shared/_PageHeaderLayout.cshtml")

    <div class="col-sm-6">
        <div class="float-right d-none d-md-block">
            <button class="btn btn-primary waves-effect waves-light" aria-haspopup="true" aria-expanded="false" onclick="location.href='@Url.Action("Import", "Forex", new { id =  ViewBag.PageId, sid = ViewBag.SubMenuId })';">
                <i class="fas fa-plus mr-2"></i> @Html.ActionLink("Import Forex", "Import", new { Area = "Admin", Controller = "Forex", id = ViewBag.PageId, sid = ViewBag.SubMenuId })
            </button>
        </div>
    </div>
</div>
<!-- end page title -->

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Foreign Exchange</h4>
                <p class="card-title-desc">
                    List of foreign exchange information in the application.
                </p>

                <table id="datatable" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                    <thead>
                        <tr>
                            <th>S.N.</th>
                            <th>
                                @Html.DisplayNameFor(model => model.Currency)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.BuyingCash)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Buying)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Selling)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ImportDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.IsEnabled)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class="text-center">
                                    @(@Model.ToList().IndexOf(item) + (int)1)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Currency)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.BuyingCash)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Buying)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Selling)
                                </td>
                                <td>
                                    @item.ImportDate.ToString("dd/MM/yyyy")
                                    @*@Html.DisplayFor(modelItem => item.ImportDate.ToString("dd/MM/yyyy"))*@
                                </td>
                                <td class="text-center">
                                    @if (!item.IsEnabled)
                                    {
                                        <i class="fas fa-times-circle" aria-hidden="true" style="color:#ff0000;"></i>
                                    }
                                    else
                                    {
                                        <i class="fas fa-check-circle" aria-hidden="true" style="color:#3ac13a;"></i>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>