﻿@model NIBL.Models.ViewModels.GeneralEnquirys.GeneralEnquiryEditViewModel

@{
    ViewBag.Title = "Edit Page Content";

    var sId = ViewBag.SubMenuId;
    var pId = ViewBag.PageId;
}

<!-- start page title -->
<div class="row align-items-center">
    @Html.Partial("~/Areas/Admin/Views/Shared/_PageHeaderLayout.cshtml")

    <div class="col-sm-6">
        <div class="float-right d-none d-md-block">
            <button class="btn btn-primary waves-effect waves-light" aria-haspopup="true" aria-expanded="false" onclick="location.href='@Url.Action("Index", ViewBag.ControllerName, new { id =  ViewBag.PageId, sid = ViewBag.SubMenuId })';">
                <i class="fas fa-step-backward mr-2"></i> @Html.ActionLink("Go Back", "Index", new { Area = "Admin", Controller = ViewBag.ControllerName, id = ViewBag.PageId, sid = ViewBag.SubMenuId })
            </button>
        </div>
    </div>
</div>
<!-- end page title -->

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">

                <h4 class="card-title">Page</h4>
                <p class="card-title-desc">
                    Add new page information in the application.
                </p>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.Id)

                        <input type="hidden" name="sId" value="@sId" />
                        <input type="hidden" name="pId" value="@pId" />

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-6" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.IsEnabled, htmlAttributes: new { @class = "control-label col-md-6" })
                                    <div class="col-md-10">
                                        <div class="checkbox">
                                            @Html.EditorFor(model => model.IsEnabled)
                                            @Html.ValidationMessageFor(model => model.IsEnabled, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @if (!ViewBag.ControllerName.Equals("InformationOffice"))
                        {
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.DescriptionSectionA, htmlAttributes: new { @class = "control-label col-md-6" })
                                        <div class="col-md-11">
                                            @Html.TextAreaFor(model => model.DescriptionSectionA, new { @class = "form-control editorHtml", @rows = "7" })
                                            @Html.ValidationMessageFor(model => model.DescriptionSectionA, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    @if (!ViewBag.ControllerName.Equals("InformationOffice"))
                                    {
                                        @Html.LabelFor(model => model.DescriptionSectionB, htmlAttributes: new { @class = "control-label col-md-6" })
                                    }
                                    else
                                    {
                                        <label class="control-label col-md-6">Description</label>
                                    }
                                    <div class="col-md-11">
                                        @Html.TextAreaFor(model => model.DescriptionSectionB, new { @class = "form-control editorHtml", @rows = "7" })
                                        @Html.ValidationMessageFor(model => model.DescriptionSectionB, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.NameNP, htmlAttributes: new { @class = "control-label col-md-6" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.NameNP, new { htmlAttributes = new { @class = "form-control nepali" } })
                                        @Html.ValidationMessageFor(model => model.NameNP, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        @if (!ViewBag.ControllerName.Equals("InformationOffice"))
                        {
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.DescriptionSectionANP, htmlAttributes: new { @class = "control-label col-md-6" })
                                        <div class="col-md-11">
                                            @Html.TextAreaFor(model => model.DescriptionSectionANP, new { @class = "form-control editorHtml nepali", @rows = "7" })
                                            @Html.ValidationMessageFor(model => model.DescriptionSectionANP, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    @if (!ViewBag.ControllerName.Equals("InformationOffice"))
                                    {
                                        @Html.LabelFor(model => model.DescriptionSectionBNP, htmlAttributes: new { @class = "control-label col-md-6" })
                                    }
                                    else
                                    {
                                        <label class="control-label col-md-6">Description</label>
                                    }
                                    @Html.LabelFor(model => model.DescriptionSectionBNP, htmlAttributes: new { @class = "control-label col-md-6" })
                                    <div class="col-md-11">
                                        @Html.TextAreaFor(model => model.DescriptionSectionBNP, new { @class = "form-control editorHtml nepali", @rows = "7" })
                                        @Html.ValidationMessageFor(model => model.DescriptionSectionBNP, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="clearfix">&nbsp;</div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="submit" value="Save" class="btn btn-primary waves-effect waves-light" />
                                        @*<input type="reset" value="Reset" class="btn btn-primary waves-effect waves-light" />*@
                                        <input type="button" value="Cancel" class="btn btn-primary waves-effect waves-light" onclick="location.href='@Url.Action("Index", ViewBag.ControllerName, new { id = ViewBag.PageId, sid = ViewBag.SubMenuId })';" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div> <!-- end col -->
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}