﻿@model NIBL.Models.ViewModels.Shared.GeneralViewModel

    @{
        ViewBag.Title = "View Page Content";
    }

    <!-- start page title -->
    <div class="row align-items-center">
        @Html.Partial("~/Areas/Admin/Views/Shared/_PageHeaderLayout.cshtml")

        <div class="col-sm-6">
            <div class="float-right d-none d-md-block">
                <button class="btn btn-primary waves-effect waves-light" aria-haspopup="true" aria-expanded="false" onclick="location.href='@Url.Action("Create", "General", new {  id = ViewBag.PageId, sid = ViewBag.SubMenuId })';">
                    <i class="fas fa-plus mr-2"></i> @Html.ActionLink("Add New", "Create", new { Area = "Admin", Controller = "General", id = ViewBag.PageId, sid = ViewBag.SubMenuId })
                </button>
                @*<button class="btn btn-primary waves-effect waves-light" aria-haspopup="true" aria-expanded="false" onclick="location.href='@Url.Action("Index", "PageList", new { id = ViewBag.SubMenuId })';">
                    <i class="fas fa-step-backward mr-2"></i> @Html.ActionLink("Go Back", "Index", new { Area = "Admin", Controller = "PageList", id = ViewBag.SubMenuId })
                </button>*@
            </div>
        </div>
    </div>
    <!-- end page title -->

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Page</h4>
                    <p class="card-title-desc">
                        List of page information based on sub menu in the application.
                    </p>

                    <table id="datatable" class="table table-bordered dt-responsive" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                        <thead>
                            <tr>
                                <th>S.N.</th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Generals.First().Name)
                                </th>
                                @*<th>
                                    @Html.DisplayNameFor(model => model.Generals.First().Description)
                                </th>*@
                                <th>
                                    @Html.DisplayNameFor(model => model.Generals.First().CategoryId)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Generals.First().PageId)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Generals.First().IsEnabled)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.Generals.Count() > 0)
                            {
                                foreach (var item in Model.Generals)
                                {
                                    <tr>
                                        <td class="text-center">
                                            @(@Model.Generals.ToList().IndexOf(item) + (int)1)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Name)
                                        </td>
                                        @*<td>
                                            @Html.DisplayFor(modelItem => item.Description)
                                        </td>*@
                                        <td>
                                            @Html.DisplayFor(modelItem => item.GeneralCategory.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Page.Name)
                                        </td>
                                        <td class="text-center">
                                            @if (!item.IsEnabled)
                                            {
                                                <i class="fas fa-times-circle" aria-hidden="true" style="color:#ff0000;"></i>
                                            }
                                            else
                                            {
                                                <i class="fas fa-check-circle" aria-hidden="true" style="color:#3ac13a;"></i>
                                            }
                                        </td>
                                        <td class="text-center">
                                            <a href="@Url.Action("Edit","General", new { id = item.Id, sId = ViewBag.SubMenuId})"><i class="fas fa-pencil-alt" aria-hidden="true"></i></a> |
                                            <a href="@Url.Action("Delete","General", new { id = item.Id, sId = ViewBag.SubMenuId, pId = ViewBag.PageId } )" onclick="confirmDelete(this); return false;"><i class="fas fa-trash-alt" aria-hidden="true"></i></a>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- start page title -->
    <div class="row align-items-center">
        <div class="col-sm-6">
            <div class="page-title-box">
                <h4 class="font-size-18">&nbsp;</h4>
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item">
                        &nbsp;
                    </li>
                </ol>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="float-right d-none d-md-block">
                <button class="btn btn-primary waves-effect waves-light" aria-haspopup="true" aria-expanded="false" onclick="location.href='@Url.Action("Create", "GeneralCategory", new {  id = ViewBag.PageId, sid = ViewBag.SubMenuId })';">
                    <i class="fas fa-plus mr-2"></i> @Html.ActionLink("Add New", "Create", new { Area = "Admin", Controller = "GeneralCategory", id = ViewBag.PageId, sid = ViewBag.SubMenuId })
                </button>
            </div>
        </div>
    </div>
    <!-- end page title -->

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">General Category</h4>
                    <p class="card-title-desc">
                        List of General category information in the application.
                    </p>

                    <table id="" class="table table-bordered dt-responsive nowrap display" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                        <thead>
                            <tr>
                                <th>S.N.</th>
                                <th>
                                    @Html.DisplayNameFor(model => model.GeneralCategorys.First().Name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.GeneralCategorys.First().Description)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.GeneralCategorys.First().IsEnabled)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.GeneralCategorys.Count() > 0)
                            {
                                foreach (var item in Model.GeneralCategorys)
                                {
                                    <tr>
                                        <td class="text-center">
                                            @(@Model.GeneralCategorys.ToList().IndexOf(item) + (int)1)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Description)
                                        </td>
                                        <td class="text-center">
                                            @if (!item.IsEnabled)
                                            {
                                                <i class="fas fa-times-circle" aria-hidden="true" style="color:#ff0000;"></i>
                                            }
                                            else
                                            {
                                                <i class="fas fa-check-circle" aria-hidden="true" style="color:#3ac13a;"></i>
                                            }
                                        </td>
                                        <td class="text-center">
                                            <a href="@Url.Action("Edit","GeneralCategory", new { id = item.Id, sId = ViewBag.SubMenuId, pId = ViewBag.PageId })"><i class="fas fa-pencil-alt" aria-hidden="true"></i></a> |
                                            <a href="@Url.Action("Delete","GeneralCategory", new { id = item.Id, sId = ViewBag.SubMenuId, pId = ViewBag.PageId } )" onclick="confirmDelete(this); return false;"><i class="fas fa-trash-alt" aria-hidden="true"></i></a>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>