﻿@model IEnumerable<NIBL.Models.ViewModels.Products.ProductEditViewModel>

@{
    ViewBag.Title = "Featured Products";
}

<!-- start page title -->
<div class="row align-items-center">
    @Html.Partial("~/Areas/Admin/Views/Shared/_PageHeaderLayout.cshtml")

    <div class="col-sm-6">
        <div class="float-right d-none d-md-block">
            @*<button class="btn btn-primary waves-effect waves-light" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-plus mr-2"></i> @Html.ActionLink("Add New", "Create")
                </button>*@
        </div>
    </div>
</div>
<!-- end page title -->

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Product</h4>
                <p class="card-title-desc">
                    List of product information in the application.
                </p>

                <table id="datatable" class="table table-bordered dt-responsive" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                    <thead>
                        <tr>
                            <th>S.N.</th>
                            <th>
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                            <th class="text-center">
                                @Html.DisplayNameFor(model => model.IsFeatured)
                            </th>
                            <th class="text-center">
                                <input type="checkbox" name="checkedAll" id="isFeaturedAll" />
                            </th>
                            <th class="text-center">
                                @Html.DisplayNameFor(model => model.IsFixedPosition)<br />
                            </th>
                            <th class="text-center">
                                <input type="checkbox" name="checkedAll" id="isFixedAll" />
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.IsEnabled)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            if (Model.Count() > 0)
                            {
                                foreach (var item in Model)
                                {
                                    <tr>
                                        <td class="text-center">
                                            @(@Model.ToList().IndexOf(item) + (int)1)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Name)
                                        </td>
                                        <td class="text-center">
                                            @if (!item.IsFeatured)
                                            {
                                                <input type="checkbox" id="product_@item.Id" name="FeaturedId" value="@item.Id" class="isFeatured">
                                                @*<i class="fas fa-times-circle" aria-hidden="true" style="color:#ff0000;"></i>*@
                                            }
                                            else
                                            {
                                                <input type="checkbox" id="product_@item.Id" name="FeaturedId" value="@item.Id" checked="checked" class="isFeatured">
                                                @*<i class="fas fa-check-circle" aria-hidden="true" style="color:#3ac13a;"></i>*@
                                            }
                                        </td>
                                        <td class="text-center">
                                            @if (!item.IsFeatured)
                                            {
                                                <i class="fas fa-times-circle" aria-hidden="true" style="color:#ff0000;"></i>
                                            }
                                            else
                                            {
                                                <i class="fas fa-check-circle" aria-hidden="true" style="color:#3ac13a;"></i>
                                            }
                                        </td>
                                        <td class="text-center">
                                            @if (!item.IsFixedPosition)
                                            {
                                                <input type="checkbox" id="product_@item.Id" name="FixedId" value="@item.Id" class="isFixed">
                                                @*<i class="fas fa-times-circle" aria-hidden="true" style="color:#ff0000;"></i>*@
                                            }
                                            else
                                            {
                                                <input type="checkbox" id="product_@item.Id" name="FixedId" value="@item.Id" checked="checked" class="isFixed">
                                                @*<i class="fas fa-check-circle" aria-hidden="true" style="color:#3ac13a;"></i>*@
                                            }
                                        </td>
                                        <td class="text-center">
                                            @if (!item.IsFixedPosition)
                                            {
                                                <i class="fas fa-times-circle" aria-hidden="true" style="color:#ff0000;"></i>
                                            }
                                            else
                                            {
                                                <i class="fas fa-check-circle" aria-hidden="true" style="color:#3ac13a;"></i>
                                            }
                                        </td>
                                        <td class="text-center">
                                            @if (!item.IsEnabled)
                                            {
                                                <i class="fas fa-times-circle" aria-hidden="true" style="color:#ff0000;"></i>
                                            }
                                            else
                                            {
                                                <i class="fas fa-check-circle" aria-hidden="true" style="color:#3ac13a;"></i>
                                            }
                                        </td>
                                    </tr>
                                }
                            }
                            <tr>
                                <td colspan="7" class="text-center">
                                    <input type="submit" value="Save" class="btn btn-primary waves-effect waves-light" />
                                    <input type="button" value="Cancel" class="btn btn-primary waves-effect waves-light" onclick="location.href='@Url.Action("Index","FeaturedProduct")';" />
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>