﻿@model IEnumerable<NIBL.Models.ViewModels.ToolbarLinkViewModel>

@{
    ViewBag.Title = "View Toolbar Link";
}

<!-- start page title -->
    <div class="row align-items-center">
        @Html.Partial("~/Areas/Admin/Views/Shared/_PageHeaderLayout.cshtml")

        @if (Model.Count() < 6)
        {
            <div class="col-sm-6">
                <div class="float-right d-none d-md-block">
                    <button class="btn btn-primary waves-effect waves-light" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-plus mr-2"></i> @Html.ActionLink("Add New", "Create")
                    </button>
                </div>
            </div>
        }

    </div>
<!-- end page title -->

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Toolbar Links</h4>
                <p class="card-title-desc">
                    List of information in the application.
                </p>

                <div class="tab-pane active p-3" id="home" role="tabpanel">
                    <table id="" class="table table-bordered dt-responsive nowrap display" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                        <thead>
                            <tr>
                                <th>S.N.</th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Title)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.LinkUrl)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.IsEnabled)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.Count() > 0)
                            {
                                foreach (var item in Model)
                                {
                                    <tr>
                                        <td class="text-center vertical-align">
                                            @(@Model.ToList().IndexOf(item) + (int)1)
                                        </td>
                                        <td class="vertical-align">
                                            @Html.DisplayFor(modelItem => item.Title)
                                        </td>
                                        <td class="vertical-align">
                                            @Html.DisplayFor(modelItem => item.LinkUrl)
                                        </td>
                                        <td class="text-center vertical-align">
                                            @if (!item.IsEnabled)
                                            {
                                                <i class="fas fa-times-circle" aria-hidden="true" style="color:#ff0000;"></i>
                                            }
                                            else
                                            {
                                                <i class="fas fa-check-circle" aria-hidden="true" style="color:#3ac13a;"></i>
                                            }
                                        </td>
                                        <td class="text-center vertical-align">
                                            <a href="@Url.Action("Edit","ToolbarLink", new { id = item.Id})"><i class="fas fa-pencil-alt" aria-hidden="true"></i></a> |
                                            <a href="@Url.Action("Delete","ToolbarLink", new { id = item.Id} )" onclick="confirmDelete(this); return false;"><i class="fas fa-trash-alt" aria-hidden="true"></i></a>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>