﻿@model NIBL.Models.ViewModels.Shared.InformationOfficeViewModel

@{
    ViewBag.Title = "View Page Content";
}

<!-- start page title -->
<div class="row align-items-center">
    @Html.Partial("~/Areas/Admin/Views/Shared/_PageHeaderLayout.cshtml")

    <div class="col-sm-6">
        <div class="float-right d-none d-md-block">
            <button class="btn btn-primary waves-effect waves-light" aria-haspopup="true" aria-expanded="false" onclick="location.href='@Url.Action("Create", "InformationOfficer", new {  id = ViewBag.PageId, sid = ViewBag.SubMenuId })';">
                <i class="fas fa-plus mr-2"></i> @Html.ActionLink("Add New", "Create", new { Area = "Admin", Controller = "InformationOfficer", id = ViewBag.PageId, sid = ViewBag.SubMenuId })
            </button>
            <button class="btn btn-primary waves-effect waves-light" aria-haspopup="true" aria-expanded="false" onclick="location.href='@Url.Action("Index", "PageList", new { id = ViewBag.SubMenuId })';">
                <i class="fas fa-step-backward mr-2"></i> @Html.ActionLink("Go Back", "Index", new { Area = "Admin", Controller = "PageList", id = ViewBag.SubMenuId })
            </button>
        </div>
    </div>
</div>
<!-- end page title -->

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Information Officer</h4>
                <p class="card-title-desc">
                    List of page information based on sub menu in the application.
                </p>

                <table id="datatable" class="table table-bordered dt-responsive" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                    <thead>
                        <tr>
                            <th>S.N.</th>
                            <th>
                                @Html.DisplayNameFor(model => model.InformationOfficers.First().Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.InformationOfficers.First().Designation)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.InformationOfficers.First().Address)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.InformationOfficers.First().Email)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.InformationOfficers.First().IsEnabled)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.InformationOfficers.Count() > 0)
                        {
                            foreach (var item in Model.InformationOfficers)
                            {
                                <tr>
                                    <td class="text-center">
                                        @(@Model.InformationOfficers.ToList().IndexOf(item) + (int)1)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Designation)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Address)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Email)
                                    </td>
                                    <td class="text-center">
                                        @if (!item.IsEnabled)
                                        {
                                            <i class="fas fa-times-circle" aria-hidden="true" style="color:#ff0000;"></i>
                                        }
                                        else
                                        {
                                            <i class="fas fa-check-circle" aria-hidden="true" style="color:#3ac13a;"></i>
                                        }
                                    </td>
                                    <td class="text-center">
                                        <a href="@Url.Action("Edit","InformationOfficer", new { id = item.Id, sId = ViewBag.SubMenuId, pId = ViewBag.PageId })"><i class="fas fa-pencil-alt" aria-hidden="true"></i></a> |
                                        <a href="@Url.Action("Delete","InformationOfficer", new { id = item.Id, sId = ViewBag.SubMenuId, pId = ViewBag.PageId } )" onclick="confirmDelete(this); return false;"><i class="fas fa-trash-alt" aria-hidden="true"></i></a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- start page title -->
<div class="row align-items-center">
    <div class="col-sm-6">
        <div class="page-title-box">
            <h4 class="font-size-18">&nbsp;</h4>
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item">
                    &nbsp;
                </li>
            </ol>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="float-right d-none d-md-block">
            <button class="btn btn-primary waves-effect waves-light" aria-haspopup="true" aria-expanded="false" onclick="location.href='@Url.Action("Create", "GenderStaff", new {  id = ViewBag.PageId, sid = ViewBag.SubMenuId })';">
                <i class="fas fa-plus mr-2"></i> @Html.ActionLink("Add New", "Create", new { Area = "Admin", Controller = "GenderStaff", id = ViewBag.PageId, sid = ViewBag.SubMenuId })
            </button>
        </div>
    </div>
</div>
<!-- end page title -->

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Gender Wise Total Staff</h4>
                <p class="card-title-desc">
                    List of page information based on sub menu in the application.
                </p>

                <table id="" class="table table-bordered dt-responsive nowrap display" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                    <thead>
                        <tr>
                            <th>S.N.</th>
                            <th>
                                @Html.DisplayNameFor(model => model.GenderStaffs.First().ServiceStatus)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.GenderStaffs.First().Male)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.GenderStaffs.First().Female)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.GenderStaffs.First().Total)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.GenderStaffs.First().DateText)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.GenderStaffs.First().IsEnabled)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.GenderStaffs.Count() > 0)
                        {
                            foreach (var item in Model.GenderStaffs)
                            {
                                <tr>
                                    <td class="text-center">
                                        @(@Model.GenderStaffs.ToList().IndexOf(item) + (int)1)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ServiceStatus)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Male)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Female)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Total)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DateText)
                                    </td>
                                    <td class="text-center">
                                        @if (!item.IsEnabled)
                                        {
                                            <i class="fas fa-times-circle" aria-hidden="true" style="color:#ff0000;"></i>
                                        }
                                        else
                                        {
                                            <i class="fas fa-check-circle" aria-hidden="true" style="color:#3ac13a;"></i>
                                        }
                                    </td>
                                    <td class="text-center">
                                        <a href="@Url.Action("Edit","GenderStaff", new { id = item.Id, sId = ViewBag.SubMenuId, pId = ViewBag.PageId })"><i class="fas fa-pencil-alt" aria-hidden="true"></i></a> |
                                        <a href="@Url.Action("Delete","GenderStaff", new { id = item.Id, sId = ViewBag.SubMenuId, pId = ViewBag.PageId } )" onclick="confirmDelete(this); return false;"><i class="fas fa-trash-alt" aria-hidden="true"></i></a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- start page title -->
<div class="row align-items-center">
    <div class="col-sm-6">
        <div class="page-title-box">
            <h4 class="font-size-18">&nbsp;</h4>
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item">
                    &nbsp;
                </li>
            </ol>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="float-right d-none d-md-block">
            <button class="btn btn-primary waves-effect waves-light" aria-haspopup="true" aria-expanded="false" onclick="location.href='@Url.Action("Create", "GeneralEnquiry", new {  id = ViewBag.PageId, sid = ViewBag.SubMenuId })';">
                <i class="fas fa-plus mr-2"></i> @Html.ActionLink("Add New", "Create", new { Area = "Admin", Controller = "GeneralEnquiry", id = ViewBag.PageId, sid = ViewBag.SubMenuId })
            </button>
        </div>
    </div>
</div>
<!-- end page title -->

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Enquiry</h4>
                <p class="card-title-desc">
                    List of information in the application.
                </p>

                <table id="" class="table table-bordered dt-responsive nowrap display" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                    <thead>
                        <tr>
                            <th>S.N.</th>
                            <th>
                                @Html.DisplayNameFor(model => model.GeneralEnquirys.First().Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.GeneralEnquirys.First().Page.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.GeneralEnquirys.First().IsEnabled)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.GeneralEnquirys.Count() > 0)
                        {
                            foreach (var item in Model.GeneralEnquirys)
                            {
                                <tr>
                                    <td class="text-center">
                                        @(@Model.GeneralEnquirys.ToList().IndexOf(item) + (int)1)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Page.Name)
                                    </td>
                                    <td class="text-center">
                                        @if (!item.IsEnabled)
                                        {
                                            <i class="fas fa-times-circle" aria-hidden="true" style="color:#ff0000;"></i>
                                        }
                                        else
                                        {
                                            <i class="fas fa-check-circle" aria-hidden="true" style="color:#3ac13a;"></i>
                                        }
                                    </td>
                                    <td class="text-center">
                                        <a href="@Url.Action("Edit","GeneralEnquiry", new { id = item.Id, sId = ViewBag.SubMenuId})"><i class="fas fa-pencil-alt" aria-hidden="true"></i></a> |
                                        <a href="@Url.Action("Delete","GeneralEnquiry", new { id = item.Id, sId = ViewBag.SubMenuId} )" onclick="confirmDelete(this); return false;"><i class="fas fa-trash-alt" aria-hidden="true"></i></a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>