﻿@model NIBL.Models.ViewModels.Shared.RateViewModel

@{
    ViewBag.Title = "View Page Content";
}

<!-- start page title -->
<div class="row align-items-center">
    @Html.Partial("~/Areas/Admin/Views/Shared/_PageHeaderLayout.cshtml")

    <div class="col-sm-6">
        <div class="float-right d-none d-md-block">
            @if (Model.Rates.Count() < 1)
            {
                <button class="btn btn-primary waves-effect waves-light" aria-haspopup="true" aria-expanded="false" onclick="location.href='@Url.Action("Create", "Rate", new {  id = ViewBag.PageId, sid = ViewBag.SubMenuId })';">
                    <i class="fas fa-plus mr-2"></i> @Html.ActionLink("Add New", "Create", new { Area = "Admin", Controller = "Rate", id = ViewBag.PageId, sid = ViewBag.SubMenuId })
                </button>
            }
            <button class="btn btn-primary waves-effect waves-light" aria-haspopup="true" aria-expanded="false" onclick="location.href='@Url.Action("Index", "PageList", new { id = ViewBag.SubMenuId })';">
                <i class="fas fa-step-backward mr-2"></i> @Html.ActionLink("Go Back", "Index", new { Area = "Admin", Controller = "PageList", id = ViewBag.SubMenuId })
            </button>
        </div>
    </div>
</div>
<!-- end page title -->

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Interest Rate Content</h4>
                <p class="card-title-desc">
                    List of interest rate page content information based on sub menu in the application.
                </p>

                <table id="" class="table table-bordered dt-responsive display" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                    <thead>
                        <tr>
                            <th>S.N.</th>
                            <th>
                                @Html.DisplayNameFor(model => model.Rates.First().EffectiveDateText)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Rates.First().DescriptionNote)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Rates.First().PageId)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Rates.First().IsEnabled)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Rates.Count() > 0)
                        {
                            foreach (var item in Model.Rates)
                            {
                                <tr>
                                    <td class="text-center">
                                        @(@Model.Rates.ToList().IndexOf(item) + (int)1)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EffectiveDateText)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DescriptionNote)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Page.Name)
                                    </td>
                                    <td class="text-center">
                                        @if (!item.IsEnabled)
                                        {
                                            <i class="fas fa-times-circle" aria-hidden="true" style="color:#ff0000;"></i>
                                        }
                                        else
                                        {
                                            <i class="fas fa-check-circle" aria-hidden="true" style="color:#3ac13a;"></i>
                                        }
                                    </td>
                                    <td class="text-center">
                                        <a href="@Url.Action("Edit","Rate", new { id = item.Id, sId = ViewBag.SubMenuId, pId = ViewBag.PageId })"><i class="fas fa-pencil-alt" aria-hidden="true"></i></a> |
                                        <a href="@Url.Action("Delete","Rate", new { id = item.Id, sId = ViewBag.SubMenuId, pId = ViewBag.PageId } )" onclick="confirmDelete(this); return false;"><i class="fas fa-trash-alt" aria-hidden="true"></i></a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- start page title -->
<div class="row align-items-center">
    <div class="col-sm-6">
        <div class="page-title-box">
            <h4 class="font-size-18">&nbsp;</h4>
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item">
                    &nbsp;
                </li>
            </ol>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="float-right d-none d-md-block">
            <button class="btn btn-primary waves-effect waves-light" aria-haspopup="true" aria-expanded="false" onclick="location.href='@Url.Action("Create", "BaseRate", new {  id = ViewBag.PageId, sid = ViewBag.SubMenuId })';">
                <i class="fas fa-plus mr-2"></i> @Html.ActionLink("Add New", "Create", new { Area = "Admin", Controller = "BaseRate", id = ViewBag.PageId, sid = ViewBag.SubMenuId })
            </button>
        </div>
    </div>
</div>
<!-- end page title -->

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Base Rates</h4>
                <p class="card-title-desc">
                    List of base rate information in the application.
                </p>

                <table id="" class="table table-bordered dt-responsive nowrap display" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                    <thead>
                        <tr>
                            <th>S.N.</th>
                            <th>
                                @Html.DisplayNameFor(model => model.BaseRates.First().Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.BaseRates.First().Description)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.BaseRates.First().AmountRate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.BaseRates.First().IsEnabled)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.BaseRates.Count() > 0)
                        {
                            foreach (var item in Model.BaseRates)
                            {
                                <tr>
                                    <td class="text-center">
                                        @(@Model.BaseRates.ToList().IndexOf(item) + (int)1)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Description)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.AmountRate)
                                    </td>
                                    <td class="text-center">
                                        @if (!item.IsEnabled)
                                        {
                                            <i class="fas fa-times-circle" aria-hidden="true" style="color:#ff0000;"></i>
                                        }
                                        else
                                        {
                                            <i class="fas fa-check-circle" aria-hidden="true" style="color:#3ac13a;"></i>
                                        }
                                    </td>
                                    <td class="text-center">
                                        <a href="@Url.Action("Edit","BaseRate", new { id = item.Id, sId = ViewBag.SubMenuId, pId = ViewBag.PageId })"><i class="fas fa-pencil-alt" aria-hidden="true"></i></a> |
                                        <a href="@Url.Action("Delete","BaseRate", new { id = item.Id, sId = ViewBag.SubMenuId, pId = ViewBag.PageId } )" onclick="confirmDelete(this); return false;"><i class="fas fa-trash-alt" aria-hidden="true"></i></a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- start page title -->
<div class="row align-items-center">
    <div class="col-sm-6">
        <div class="page-title-box">
            <h4 class="font-size-18">&nbsp;</h4>
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item">
                    &nbsp;
                </li>
            </ol>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="float-right d-none d-md-block">
            <button class="btn btn-primary waves-effect waves-light" aria-haspopup="true" aria-expanded="false" onclick="location.href='@Url.Action("Create", "InterestRate", new {  id = ViewBag.PageId, sid = ViewBag.SubMenuId })';">
                <i class="fas fa-plus mr-2"></i> @Html.ActionLink("Add New", "Create", new { Area = "Admin", Controller = "InterestRate", id = ViewBag.PageId, sid = ViewBag.SubMenuId })
            </button>
        </div>
    </div>
</div>
<!-- end page title -->

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Interest Rates</h4>
                <p class="card-title-desc">
                    List of interest rate information based in the application.
                </p>

                <table id="" class="table table-bordered dt-responsive nowrap display" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                    <thead>
                        <tr>
                            <th>S.N.</th>
                            <th>
                                @Html.DisplayNameFor(model => model.InterestRates.First().Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.InterestRates.First().AmountRate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.InterestRates.First().CategoryId)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.InterestRates.First().IsEnabled)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.InterestRates.Count() > 0)
                        {
                            foreach (var item in Model.InterestRates)
                            {
                                <tr>
                                    <td class="text-center">
                                        @(@Model.InterestRates.ToList().IndexOf(item) + (int)1)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.AmountRate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.InterestRateCategory.Name)
                                    </td>
                                    <td class="text-center">
                                        @if (!item.IsEnabled)
                                        {
                                            <i class="fas fa-times-circle" aria-hidden="true" style="color:#ff0000;"></i>
                                        }
                                        else
                                        {
                                            <i class="fas fa-check-circle" aria-hidden="true" style="color:#3ac13a;"></i>
                                        }
                                    </td>
                                    <td class="text-center">
                                        <a href="@Url.Action("Edit","InterestRate", new { id = item.Id, sId = ViewBag.SubMenuId, pId = ViewBag.PageId })"><i class="fas fa-pencil-alt" aria-hidden="true"></i></a> |
                                        <a href="@Url.Action("Delete","InterestRate", new { id = item.Id, sId = ViewBag.SubMenuId, pId = ViewBag.PageId } )" onclick="confirmDelete(this); return false;"><i class="fas fa-trash-alt" aria-hidden="true"></i></a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- start page title -->
<div class="row align-items-center">
    <div class="col-sm-6">
        <div class="page-title-box">
            <h4 class="font-size-18">&nbsp;</h4>
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item">
                    &nbsp;
                </li>
            </ol>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="float-right d-none d-md-block">
            <button class="btn btn-primary waves-effect waves-light" aria-haspopup="true" aria-expanded="false" onclick="location.href='@Url.Action("Create", "InterestRateCategory", new {  id = ViewBag.PageId, sid = ViewBag.SubMenuId })';">
                <i class="fas fa-plus mr-2"></i> @Html.ActionLink("Add New", "Create", new { Area = "Admin", Controller = "InterestRateCategory", id = ViewBag.PageId, sid = ViewBag.SubMenuId })
            </button>
        </div>
    </div>
</div>
<!-- end page title -->

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Interest Rate Category</h4>
                <p class="card-title-desc">
                    List of interest rate category information in the application.
                </p>

                <table id="" class="table table-bordered dt-responsive nowrap display" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                    <thead>
                        <tr>
                            <th>S.N.</th>
                            <th>
                                @Html.DisplayNameFor(model => model.InterestRateCategorys.First().Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.InterestRateCategorys.First().Description)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.InterestRateCategorys.First().IsEnabled)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.InterestRateCategorys.Count() > 0)
                        {
                            foreach (var item in Model.InterestRateCategorys)
                            {
                                <tr>
                                    <td class="text-center">
                                        @(@Model.InterestRateCategorys.ToList().IndexOf(item) + (int)1)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Description)
                                    </td>
                                    <td class="text-center">
                                        @if (!item.IsEnabled)
                                        {
                                            <i class="fas fa-times-circle" aria-hidden="true" style="color:#ff0000;"></i>
                                        }
                                        else
                                        {
                                            <i class="fas fa-check-circle" aria-hidden="true" style="color:#3ac13a;"></i>
                                        }
                                    </td>
                                    <td class="text-center">
                                        <a href="@Url.Action("Edit","InterestRateCategory", new { id = item.Id, sId = ViewBag.SubMenuId, pId = ViewBag.PageId })"><i class="fas fa-pencil-alt" aria-hidden="true"></i></a> |
                                        <a href="@Url.Action("Delete","InterestRateCategory", new { id = item.Id, sId = ViewBag.SubMenuId, pId = ViewBag.PageId } )" onclick="confirmDelete(this); return false;"><i class="fas fa-trash-alt" aria-hidden="true"></i></a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>