﻿@model NIBL.Models.ViewModels.Shared.InternationalNetworkViewModel

@{
    ViewBag.Title = "View Page Content";
}

<!-- start page title -->
<div class="row align-items-center">
    @Html.Partial("~/Areas/Admin/Views/Shared/_PageHeaderLayout.cshtml")

    <div class="col-sm-6">
        <div class="float-right d-none d-md-block">
            <button class="btn btn-primary waves-effect waves-light" aria-haspopup="true" aria-expanded="false" onclick="location.href='@Url.Action("Create", "CountryRepresentative", new {  id = ViewBag.PageId, sid = ViewBag.SubMenuId })';">
                <i class="fas fa-plus mr-2"></i> @Html.ActionLink("Add New", "Create", new { Area = "Admin", Controller = "CountryRepresentative", id = ViewBag.PageId, sid = ViewBag.SubMenuId })
            </button>
            <button class="btn btn-primary waves-effect waves-light" aria-haspopup="true" aria-expanded="false" onclick="location.href='@Url.Action("Index", "PageList", new { id = ViewBag.SubMenuId })';">
                <i class="fas fa-step-backward mr-2"></i> @Html.ActionLink("Go Back", "Index", new { Area = "Admin", Controller = "PageList", id = ViewBag.SubMenuId })
            </button>
        </div>
    </div>
</div>
<!-- end page title -->

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Country Representative</h4>
                <p class="card-title-desc">
                    List of country representative information in the application.
                </p>

                <table id="datatable" class="table table-bordered dt-responsive" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                    <thead>
                        <tr>
                            <th>S.N.</th>
                            <th>
                                @Html.DisplayNameFor(model => model.CountryRepresentatives.First().Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CountryRepresentatives.First().Description)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CountryRepresentatives.First().CountryId)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CountryRepresentatives.First().IsEnabled)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.CountryRepresentatives.Count() > 0)
                        {
                            foreach (var item in Model.CountryRepresentatives)
                            {
                                <tr>
                                    <td class="text-center">
                                        @(@Model.CountryRepresentatives.ToList().IndexOf(item) + (int)1)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Description)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Country.Name)
                                    </td>
                                    <td class="text-center">
                                        @if (!item.IsEnabled)
                                        {
                                            <i class="fas fa-times-circle" aria-hidden="true" style="color:#ff0000;"></i>
                                        }
                                        else
                                        {
                                            <i class="fas fa-check-circle" aria-hidden="true" style="color:#3ac13a;"></i>
                                        }
                                    </td>
                                    <td class="text-center">
                                        <a href="@Url.Action("Edit","CountryRepresentative", new { id = item.Id, sId = ViewBag.SubMenuId, pId = ViewBag.PageId })"><i class="fas fa-pencil-alt" aria-hidden="true"></i></a> |
                                        <a href="@Url.Action("Delete","CountryRepresentative", new { id = item.Id, sId = ViewBag.SubMenuId, pId = ViewBag.PageId } )" onclick="confirmDelete(this); return false;"><i class="fas fa-trash-alt" aria-hidden="true"></i></a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- start page title -->
<div class="row align-items-center">
    <div class="col-sm-6">
        <div class="page-title-box">
            <h4 class="font-size-18">&nbsp;</h4>
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item">
                    &nbsp;
                </li>
            </ol>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="float-right d-none d-md-block">
            <button class="btn btn-primary waves-effect waves-light" aria-haspopup="true" aria-expanded="false" onclick="location.href='@Url.Action("Create", "MarketingRepresentative", new {  id = ViewBag.PageId, sid = ViewBag.SubMenuId })';">
                <i class="fas fa-plus mr-2"></i> @Html.ActionLink("Add New", "Create", new { Area = "Admin", Controller = "MarketingRepresentative", id = ViewBag.PageId, sid = ViewBag.SubMenuId })
            </button>
        </div>
    </div>
</div>
<!-- end page title -->

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Marketing Representative</h4>
                <p class="card-title-desc">
                    List of marketing representative information in the application.
                </p>

                <table id="" class="table table-bordered dt-responsive nowrap display" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                    <thead>
                        <tr>
                            <th>S.N.</th>
                            <th>
                                @Html.DisplayNameFor(model => model.MarketingRepresentatives.First().Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.MarketingRepresentatives.First().MobileNumber)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.MarketingRepresentatives.First().Email)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.MarketingRepresentatives.First().CountryId)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.MarketingRepresentatives.First().IsEnabled)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.MarketingRepresentatives.Count() > 0)
                        {
                            foreach (var item in Model.MarketingRepresentatives)
                            {
                                <tr>
                                    <td class="text-center">
                                        @(@Model.MarketingRepresentatives.ToList().IndexOf(item) + (int)1)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.MobileNumber)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Email)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Country.Name)
                                    </td>
                                    <td class="text-center">
                                        @if (!item.IsEnabled)
                                        {
                                            <i class="fas fa-times-circle" aria-hidden="true" style="color:#ff0000;"></i>
                                        }
                                        else
                                        {
                                            <i class="fas fa-check-circle" aria-hidden="true" style="color:#3ac13a;"></i>
                                        }
                                    </td>
                                    <td class="text-center">
                                        <a href="@Url.Action("Edit","MarketingRepresentative", new { id = item.Id, sId = ViewBag.SubMenuId, pId = ViewBag.PageId })"><i class="fas fa-pencil-alt" aria-hidden="true"></i></a> |
                                        <a href="@Url.Action("Delete","MarketingRepresentative", new { id = item.Id, sId = ViewBag.SubMenuId, pId = ViewBag.PageId } )" onclick="confirmDelete(this); return false;"><i class="fas fa-trash-alt" aria-hidden="true"></i></a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- start page title -->
<div class="row align-items-center">
    <div class="col-sm-6">
        <div class="page-title-box">
            <h4 class="font-size-18">&nbsp;</h4>
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item">
                    &nbsp;
                </li>
            </ol>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="float-right d-none d-md-block">
            <button class="btn btn-primary waves-effect waves-light" aria-haspopup="true" aria-expanded="false" onclick="location.href='@Url.Action("Create", "Country", new {  id = ViewBag.PageId, sid = ViewBag.SubMenuId })';">
                <i class="fas fa-plus mr-2"></i> @Html.ActionLink("Add New", "Create", new { Area = "Admin", Controller = "Country", id = ViewBag.PageId, sid = ViewBag.SubMenuId })
            </button>
        </div>
    </div>
</div>
<!-- end page title -->

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Country</h4>
                <p class="card-title-desc">
                    List of country information in the application.
                </p>

                <table id="" class="table table-bordered dt-responsive nowrap display" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                    <thead>
                        <tr>
                            <th>S.N.</th>
                            <th>
                                @Html.DisplayNameFor(model => model.Countries.First().Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Countries.First().IsEnabled)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Countries.Count() > 0)
                        {
                            foreach (var item in Model.Countries)
                            {
                                <tr>
                                    <td class="text-center">
                                        @(@Model.Countries.ToList().IndexOf(item) + (int)1)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td class="text-center">
                                        @if (!item.IsEnabled)
                                        {
                                            <i class="fas fa-times-circle" aria-hidden="true" style="color:#ff0000;"></i>
                                        }
                                        else
                                        {
                                            <i class="fas fa-check-circle" aria-hidden="true" style="color:#3ac13a;"></i>
                                        }
                                    </td>
                                    <td class="text-center">
                                        <a href="@Url.Action("Edit","Country", new { id = item.Id, sId = ViewBag.SubMenuId, pId = ViewBag.PageId })"><i class="fas fa-pencil-alt" aria-hidden="true"></i></a> |
                                        <a href="@Url.Action("Delete","Country", new { id = item.Id, sId = ViewBag.SubMenuId, pId = ViewBag.PageId } )" onclick="confirmDelete(this); return false;"><i class="fas fa-trash-alt" aria-hidden="true"></i></a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>