﻿@model NIBL.Models.UserLogin

@{
    ViewBag.Title = "Login";
}

@if (TempData["WarningMessage"] != null)
{
    <div class="clearfix">&nbsp;</div>
    <div class="alert alert-warning">@TempData["WarningMessage"]</div>
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <form>
        <div class="form-group form-material floating" data-plugin="formMaterial">
            @*<input class="form-control text-box single-line valid" data-val="true" data-val-required="The User name field is required." id="Username" name="Username" type="text" value="" aria-describedby="Username-error" aria-invalid="false">*@
            @Html.EditorFor(model => model.Login, new { htmlAttributes = new { @class = "form-control" }, placeholder = "Enter username" })
            @Html.ValidationMessageFor(model => model.Login, "", new { @class = "text-danger" })
            <label class="floating-label">Username</label>
        </div>
        <div class="form-group form-material floating" data-plugin="formMaterial">
            @*<input class="form-control text-box single-line password" data-val="true" data-val-required="The Password field is required." id="Password" name="Password" type="password" value="">*@
            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            <label class="floating-label">Password</label>
        </div>
        <div class="form-group clearfix">
            @*<a class="float-right" href="~/Admin/ChangePassword">Forgot password?</a>*@
            <div>&nbsp;</div>
        </div>
        <button type="submit" class="btn btn-primary btn-block btn-lg mt-40">LOGIN</button>
    </form>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}