﻿@{
    ViewBag.Title = "Dashboard";
}

    <div class="authentication-bg d-flex align-items-center pb-0" style="height:87vh !important;">
        <div class="content-center w-100">
            <div class="container">
                <div class="card mo-mt-2">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <img src="~/Content/theme/images/logo-light-nibl_.png" alt="" class="img-fluid mx-auto d-block">
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>