﻿@{
    ViewBag.Title = "Error";
}
<h1 class="text-dark display-1 mt-4">404!</h1>
<h4 class="mb-4">Sorry! Page Not Found.</h4>
<img src="~/Content/theme/images/error.png" alt="" class="img-fluid mx-auto d-block">
<p class="mb-5"></p>
<a class="btn btn-primary mb-5 waves-effect waves-light" href="@Url.Action("Index","Login")"><i class="mdi mdi-home"></i> Back to Dashboard</a>