﻿@model IEnumerable<NIBL.Models.ViewModels.HomeBannerViewModel>

@{
    ViewBag.Title = "View Featured Banner";
}

<!-- start page title -->
<div class="row align-items-center">
    @Html.Partial("~/Areas/Admin/Views/Shared/_PageHeaderLayout.cshtml")

    <div class="col-sm-6">
        <div class="float-right d-none d-md-block">
            <button class="btn btn-primary waves-effect waves-light" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-plus mr-2"></i> @Html.ActionLink("Add New", "Create")
            </button>
        </div>
    </div>
</div>
<!-- end page title -->

@{ var hideDiv = Model.Count() > 0 ? "" : "d-none"; }
<div class="row @hideDiv">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div id="demo" class="carousel slide" data-ride="carousel">
                    <ul class="carousel-indicators">
                        @{int s = 0;}
                        @foreach (var item in Model)
                        {
                            s++;
                            <li data-target="#demo" data-slide-to="@s" class="active"></li>

                        }
                    </ul>
                    <div class="carousel-inner" role="listbox">
                        @{int i = 0;}
                        @foreach (var item in Model)
                        {
                            i++;
                            var active = i == 1 ? "active" : "";
                            <div class="carousel-item @active">
                                @if (!string.IsNullOrEmpty(item.ImagePath))
                                {
                                    <img src="@Url.Content(@item.ImagePath)" alt="" style="width:100%; height:532px;">
                                }
                                else
                                {
                                    <i class="fas fa-file-image" aria-hidden="true" style="color:#ff0000;"></i>
                                }
                            </div>
                        }
                    </div>
                    <a class="carousel-control-prev" href="#demo" data-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </a>
                    <a class="carousel-control-next" href="#demo" data-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Featured Banner</h4>
                <p class="card-title-desc">
                    List of home page featured banner information in the application.
                </p>

                <!-- Nav tabs -->
                <ul class="nav nav-tabs nav-tabs-custom" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#home" role="tab">
                            <span class="d-block d-sm-none"><i class="fas fa-home"></i></span>
                            <span class="d-none d-sm-block">Main Carousel</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#popup" role="tab">
                            <span class="d-block d-sm-none"><i class="far fa-user"></i></span>
                            <span class="d-none d-sm-block">Popup Carousel</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#featured" role="tab">
                            <span class="d-block d-sm-none"><i class="far fa-envelope"></i></span>
                            <span class="d-none d-sm-block">Featured Carousel</span>
                        </a>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane active p-3" id="home" role="tabpanel">
                        <table id="datatableMain" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                            <thead>
                                <tr>
                                    <th>S.N.</th>
                                    <th class="d-none">S.N.</th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Title)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Caption)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.AltText)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ImagePath)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.IsEnabled)
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.Count() > 0)
                                {
                                    int index = 0;
                                    foreach (var item in Model.OrderBy(x => x.OrderIndex))
                                    {
                                        if (item.BannerType == NIBL.Models.Enums.BannerTypeEnum.Main)
                                        {
                                            index++;
                                            <tr>
                                                <td class="text-center vertical-align">
                                                    @*@(@Model.ToList().IndexOf(item) + (int)1)*@
                                                    @index
                                                </td>
                                                <td class="d-none">
                                                    @Html.DisplayFor(modelItem => item.Id)
                                                </td>
                                                <td class="vertical-align">
                                                    @Html.DisplayFor(modelItem => item.Title)
                                                </td>
                                                <td class="vertical-align">
                                                    @Html.DisplayFor(modelItem => item.Caption)
                                                </td>
                                                <td class="vertical-align">
                                                    @Html.DisplayFor(modelItem => item.AltText)
                                                </td>
                                                <td class="text-center vertical-align">
                                                    @if (!string.IsNullOrEmpty(item.ImagePath))
                                                    {
                                                        <img src="@Url.Content(item.ImagePath)" alt="@item.AltText" width="253" height="92" />
                                                    }
                                                    else
                                                    {
                                                        <i class="fas fa-file-image" aria-hidden="true" style="color:#ff0000;"></i>
                                                    }
                                                </td>
                                                <td class="text-center vertical-align">
                                                    @if (!item.IsEnabled)
                                                    {
                                                        <i class="fas fa-times-circle" aria-hidden="true" style="color:#ff0000;"></i>
                                                    }
                                                    else
                                                    {
                                                        <i class="fas fa-check-circle" aria-hidden="true" style="color:#3ac13a;"></i>
                                                    }
                                                </td>
                                                <td class="text-center vertical-align">
                                                    <a href="@Url.Action("Edit","HomeBanner", new { id = item.Id})"><i class="fas fa-pencil-alt" aria-hidden="true"></i></a> |
                                                    <a href="@Url.Action("Delete","HomeBanner", new { id = item.Id} )" onclick="confirmDelete(this); return false;"><i class="fas fa-trash-alt" aria-hidden="true"></i></a>
                                                </td>
                                            </tr>
                                        }
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane p-3" id="popup" role="tabpanel">
                        <table id="datatablePopup" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                            <thead>
                                <tr>
                                    <th>S.N.</th>
                                    <th class="d-none">S.N.</th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Title)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Caption)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.AltText)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ImagePath)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.IsEnabled)
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.Count() > 0)
                                {
                                    int index = 0;
                                    foreach (var item in Model.OrderBy(x => x.OrderIndex))
                                    {
                                        if (item.BannerType == NIBL.Models.Enums.BannerTypeEnum.Popup)
                                        {
                                            index++;
                                            <tr>
                                                <td class="text-center vertical-align">
                                                    @*@(@Model.ToList().IndexOf(item) + (int)1)*@
                                                    @index
                                                </td>
                                                <td class="d-none">
                                                    @Html.DisplayFor(modelItem => item.Id)
                                                </td>
                                                <td class="vertical-align">
                                                    @Html.DisplayFor(modelItem => item.Title)
                                                </td>
                                                <td class="vertical-align">
                                                    @Html.DisplayFor(modelItem => item.Caption)
                                                </td>
                                                <td class="vertical-align">
                                                    @Html.DisplayFor(modelItem => item.AltText)
                                                </td>
                                                <td class="text-center vertical-align">
                                                    @if (!string.IsNullOrEmpty(item.ImagePath))
                                                    {
                                                        <img src="@Url.Content(item.ImagePath)" alt="@item.AltText" width="253" height="92" />
                                                    }
                                                    else
                                                    {
                                                        <i class="fas fa-file-image" aria-hidden="true" style="color:#ff0000;"></i>
                                                    }
                                                </td>
                                                <td class="text-center vertical-align">
                                                    @if (!item.IsEnabled)
                                                    {
                                                        <i class="fas fa-times-circle" aria-hidden="true" style="color:#ff0000;"></i>
                                                    }
                                                    else
                                                    {
                                                        <i class="fas fa-check-circle" aria-hidden="true" style="color:#3ac13a;"></i>
                                                    }
                                                </td>
                                                <td class="text-center vertical-align">
                                                    <a href="@Url.Action("Edit","HomeBanner", new { id = item.Id})"><i class="fas fa-pencil-alt" aria-hidden="true"></i></a> |
                                                    <a href="@Url.Action("Delete","HomeBanner", new { id = item.Id} )" onclick="confirmDelete(this); return false;"><i class="fas fa-trash-alt" aria-hidden="true"></i></a>
                                                </td>
                                            </tr>
                                        }
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane p-3" id="featured" role="tabpanel">
                        <table id="datatableFeatured" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                            <thead>
                                <tr>
                                    <th>S.N.</th>
                                    <th class="d-none">S.N.</th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Title)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Caption)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.AltText)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ImagePath)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.IsEnabled)
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.Count() > 0)
                                {
                                    int index = 0;
                                    foreach (var item in Model.OrderBy(x => x.OrderIndex))
                                    {
                                        if (item.BannerType == NIBL.Models.Enums.BannerTypeEnum.Featured)
                                        {
                                            index++;
                                            <tr>
                                                <td class="text-center vertical-align">
                                                    @*@(@Model.ToList().IndexOf(item) + (int)1)*@
                                                    @index
                                                </td>
                                                <td class="d-none">
                                                    @Html.DisplayFor(modelItem => item.Id)
                                                </td>
                                                <td class="vertical-align">
                                                    @Html.DisplayFor(modelItem => item.Title)
                                                </td>
                                                <td class="vertical-align">
                                                    @Html.DisplayFor(modelItem => item.Caption)
                                                </td>
                                                <td class="vertical-align">
                                                    @Html.DisplayFor(modelItem => item.AltText)
                                                </td>
                                                <td class="text-center vertical-align">
                                                    @if (!string.IsNullOrEmpty(item.ImagePath))
                                                    {
                                                        <img src="@Url.Content(item.ImagePath)" alt="@item.AltText" width="253" height="92" />
                                                    }
                                                    else
                                                    {
                                                        <i class="fas fa-file-image" aria-hidden="true" style="color:#ff0000;"></i>
                                                    }
                                                </td>
                                                <td class="text-center vertical-align">
                                                    @if (!item.IsEnabled)
                                                    {
                                                        <i class="fas fa-times-circle" aria-hidden="true" style="color:#ff0000;"></i>
                                                    }
                                                    else
                                                    {
                                                        <i class="fas fa-check-circle" aria-hidden="true" style="color:#3ac13a;"></i>
                                                    }
                                                </td>
                                                <td class="text-center vertical-align">
                                                    <a href="@Url.Action("Edit","HomeBanner", new { id = item.Id})"><i class="fas fa-pencil-alt" aria-hidden="true"></i></a> |
                                                    <a href="@Url.Action("Delete","HomeBanner", new { id = item.Id} )" onclick="confirmDelete(this); return false;"><i class="fas fa-trash-alt" aria-hidden="true"></i></a>
                                                </td>
                                            </tr>
                                        }
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>