﻿@model IEnumerable<NIBL.Models.ViewModels.QuickLinkViewModel>

@{
    ViewBag.Title = "Quick Links";
}

<!-- start page title -->
<div class="row align-items-center">
    @Html.Partial("~/Areas/Admin/Views/Shared/_PageHeaderLayout.cshtml")

    @*<div class="col-sm-6">
            <div class="float-right d-none d-md-block">
                <button class="btn btn-primary waves-effect waves-light" aria-haspopup="true" aria-expanded="false" onclick="location.href='@Url.Action("Create", "QuickLink")';">
                    <i class="fas fa-plus mr-2"></i> @Html.ActionLink("Add New", "Create", new { Area = "Admin", Controller = "QuickLink" })
                </button>
            </div>
        </div>*@
</div>
<!-- end page title -->

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Quick Links</h4>
                <p class="card-title-desc">
                    List of quicklink information in the application.
                </p>

                <!-- Nav tabs -->
                <ul class="nav nav-tabs nav-tabs-custom" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#internalLinks" role="tab">
                            <span class="d-none d-sm-block">Internal Links</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#externalLinks" role="tab">
                            <span class="d-none d-sm-block">External Links</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#singlePageLinks" role="tab">
                            <span class="d-none d-sm-block">Single Page Links</span>
                        </a>
                    </li>
                </ul>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane active p-3" id="internalLinks" role="tabpanel">
                    <table id="datatable" class="table table-bordered dt-responsive" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                        <thead>
                            <tr>
                                <th>S.N.</th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Name)
                                </th>
                                <th class="text-center">
                                    @Html.DisplayNameFor(model => model.IsEnabled)
                                </th>
                                <th class="text-center">
                                    @Html.DisplayName("Is QuickLink")
                                </th>
                                <th class="text-center">
                                    <input type="checkbox" name="checkedAll" id="isQuickLinkAll" />
                                </th>
                            </tr>
                        </thead>
                        <tbody>

                            @if (Model.Count() > 0)
                            {
                                foreach (var item in Model.Where(y => !y.IsExternal && y.Page.SubMenuId != null).OrderBy(x => x.Page.SubMenu.Menu.Name))
                                {
                                    <tr>
                                        <td class="text-center">
                                            @(@Model.Where(y => y.Page.SubMenuId != null).OrderBy(x => x.Page.SubMenu.Menu.Name).ToList().IndexOf(item) + (int)1)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Name)
                                        </td>
                                        <td class="text-center">
                                            @if (!item.IsEnabled)
                                            {
                                                <i class="fas fa-times-circle" aria-hidden="true" style="color:#ff0000;"></i>
                                            }
                                            else
                                            {
                                                <i class="fas fa-check-circle" aria-hidden="true" style="color:#3ac13a;"></i>
                                            }
                                        </td>
                                        <td colspan="2" class="text-center">
                                            @if (!item.IsEnabled)
                                            {
                                                <input type="checkbox" id="product_@item.Id" name="FixedId" value="@item.Id" class="isQuickLink">
                                                @*<i class="fas fa-times-circle" aria-hidden="true" style="color:#ff0000;"></i>*@
                                            }
                                            else
                                            {
                                                <input type="checkbox" id="product_@item.Id" name="FixedId" value="@item.Id" checked="checked" class="isQuickLink">
                                                @*<i class="fas fa-check-circle" aria-hidden="true" style="color:#3ac13a;"></i>*@
                                            }
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane p-3" id="externalLinks" role="tabpanel">
                    <table id="" class="table table-bordered dt-responsive display" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                        <thead>
                            <tr>
                                <th>S.N.</th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Slug)
                                </th>
                                <th class="text-center">
                                    @Html.DisplayNameFor(model => model.IsEnabled)
                                </th>
                                <th class="text-center">
                                    @Html.DisplayName("Is QuickLink")
                                </th>
                                <th class="text-center">
                                    <input type="checkbox" name="checkedAll" id="isQuickLinkAll" />
                                </th>
                            </tr>
                        </thead>
                        <tbody>

                            @if (Model.Count() > 0)
                            {
                                foreach (var item in Model.Where(y => y.IsExternal).OrderBy(x => x.Page.SubMenu.Menu.Name))
                                {
                                    <tr>
                                        <td class="text-center">
                                            @(@Model.Where(y => y.IsExternal).OrderBy(x => x.Page.SubMenu.Menu.Name).ToList().IndexOf(item) + (int)1)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Slug)
                                        </td>
                                        <td class="text-center">
                                            @if (!item.IsEnabled)
                                            {
                                                <i class="fas fa-times-circle" aria-hidden="true" style="color:#ff0000;"></i>
                                            }
                                            else
                                            {
                                                <i class="fas fa-check-circle" aria-hidden="true" style="color:#3ac13a;"></i>
                                            }
                                        </td>
                                        <td colspan="2" class="text-center">
                                            @if (!item.IsEnabled)
                                            {
                                                <input type="checkbox" id="product_@item.Id" name="FixedId" value="@item.Id" class="isQuickLink">
                                                @*<i class="fas fa-times-circle" aria-hidden="true" style="color:#ff0000;"></i>*@
                                            }
                                            else
                                            {
                                                <input type="checkbox" id="product_@item.Id" name="FixedId" value="@item.Id" checked="checked" class="isQuickLink">
                                                @*<i class="fas fa-check-circle" aria-hidden="true" style="color:#3ac13a;"></i>*@
                                            }
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane p-3" id="singlePageLinks" role="tabpanel">
                    <table id="datatable" class="table table-bordered dt-responsive" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                        <thead>
                            <tr>
                                <th>S.N.</th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Name)
                                </th>
                                <th class="text-center">
                                    @Html.DisplayNameFor(model => model.IsEnabled)
                                </th>
                                <th class="text-center">
                                    @Html.DisplayName("Is QuickLink")
                                </th>
                                <th class="text-center">
                                    <input type="checkbox" name="checkedAll" id="isQuickLinkAll" />
                                </th>
                            </tr>
                        </thead>
                        <tbody>

                            @if (Model.Count() > 0)
                            {
                                foreach (var item in Model.Where(y => !y.IsExternal && y.Page.SubMenuId == null && !y.Page.IsFooter).OrderBy(x => x.Page.Name))
                                {
                                    <tr>
                                        <td class="text-center">
                                            @(@Model.Where(y => y.Page.SubMenuId == null && !y.Page.IsFooter).OrderBy(x => x.Page.Name).ToList().IndexOf(item) + (int)1)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Name)
                                        </td>
                                        <td class="text-center">
                                            @if (!item.IsEnabled)
                                            {
                                                <i class="fas fa-times-circle" aria-hidden="true" style="color:#ff0000;"></i>
                                            }
                                            else
                                            {
                                                <i class="fas fa-check-circle" aria-hidden="true" style="color:#3ac13a;"></i>
                                            }
                                        </td>
                                        <td colspan="2" class="text-center">
                                            @if (!item.IsEnabled)
                                            {
                                                <input type="checkbox" id="product_@item.Id" name="FixedId" value="@item.Id" class="isQuickLink">
                                                @*<i class="fas fa-times-circle" aria-hidden="true" style="color:#ff0000;"></i>*@
                                            }
                                            else
                                            {
                                                <input type="checkbox" id="product_@item.Id" name="FixedId" value="@item.Id" checked="checked" class="isQuickLink">
                                                @*<i class="fas fa-check-circle" aria-hidden="true" style="color:#3ac13a;"></i>*@
                                            }
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
                    <div class="clearfix">&nbsp;</div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Save" class="btn btn-primary waves-effect waves-light" />
                                    @*<input type="reset" value="Reset" class="btn btn-primary waves-effect waves-light" />*@
                                    <input type="button" value="Cancel" class="btn btn-primary waves-effect waves-light" onclick="location.href='@Url.Action("Index", "QuickLink")';" />
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>