﻿@model NIBL.Models.ViewModels.Pages.PageEditViewModel

@{
    ViewBag.Title = "Edit Page";
}

<!-- start page title -->
<div class="row align-items-center">
    @Html.Partial("~/Areas/Admin/Views/Shared/_PageHeaderLayout.cshtml")

    <div class="col-sm-6">
        <div class="float-right d-none d-md-block">
            <button class="btn btn-primary waves-effect waves-light" aria-haspopup="true" aria-expanded="false" onclick="location.href='@Url.Action("Index","Page")';">
                <i class="fas fa-step-backward mr-2"></i> @Html.ActionLink("Go Back", "Index")
            </button>
        </div>
    </div>
</div>
<!-- end page title -->

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">

                <h4 class="card-title">Page</h4>
                <p class="card-title-desc">
                    Add new page information in the application.
                </p>

                @using (Html.BeginForm("Edit", "Page", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.Id)

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.SubMenuId, htmlAttributes: new { @class = "control-label col-md-6" })
                                    <div class="col-md-10">
                                        @Html.DropDownListFor(model => model.SubMenuId, (SelectList)ViewBag.SubMenuList, "- - - Please Select - - -", htmlAttributes: new { @class = "form-control select2" })
                                        @Html.ValidationMessageFor(model => model.SubMenuId, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.LayoutId, htmlAttributes: new { @class = "control-label col-md-6" })
                                    <div class="col-md-10">
                                        @Html.DropDownListFor(model => model.LayoutId, (SelectList)ViewBag.LayoutList, "- - - Please Select - - -", htmlAttributes: new { @class = "form-control select2" })
                                        @Html.ValidationMessageFor(model => model.LayoutId, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.TemplateId, htmlAttributes: new { @class = "control-label col-md-6" })
                                    <div class="col-md-10">
                                        @Html.DropDownListFor(model => model.TemplateId, (SelectList)ViewBag.TemplateList, "- - - Please Select - - -", htmlAttributes: new { @class = "form-control select2" })
                                        @Html.ValidationMessageFor(model => model.TemplateId, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix">&nbsp;</div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-6" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-6" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.NameNP, htmlAttributes: new { @class = "control-label col-md-6" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.NameNP, new { htmlAttributes = new { @class = "form-control nepali" } })
                                        @Html.ValidationMessageFor(model => model.NameNP, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.DescriptionNP, htmlAttributes: new { @class = "control-label col-md-6" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.DescriptionNP, new { htmlAttributes = new { @class = "form-control nepali" } })
                                        @Html.ValidationMessageFor(model => model.DescriptionNP, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.MetaTitle, htmlAttributes: new { @class = "control-label col-md-6" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.MetaTitle, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.MetaTitle, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.MetaKeyword, htmlAttributes: new { @class = "control-label col-md-6" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.MetaKeyword, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.MetaKeyword, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.MetaDescription, htmlAttributes: new { @class = "control-label col-md-6" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.MetaDescription, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.MetaDescription, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix">&nbsp;</div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.BannerTitle, htmlAttributes: new { @class = "control-label col-md-6" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.BannerTitle, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.BannerTitle, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.BannerCaption, htmlAttributes: new { @class = "control-label col-md-6" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.BannerCaption, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.BannerCaption, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.BannerAltText, htmlAttributes: new { @class = "control-label col-md-6" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.BannerAltText, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.BannerAltText, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.FileUpload, htmlAttributes: new { @class = "control-label col-md-6" })
                                    <div class="col-md-10">
                                        @Html.TextBoxFor(model => model.FileUpload, new { type = "file", @class = "filestyle" })
                                        @Html.ValidationMessageFor(model => model.FileUpload, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.BannerUrl, htmlAttributes: new { @class = "control-label col-md-6" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.BannerUrl, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.BannerUrl, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.IsEnabled, htmlAttributes: new { @class = "control-label col-md-6" })
                                    <div class="col-md-10">
                                        <div class="checkbox">
                                            @Html.EditorFor(model => model.IsEnabled)
                                            @Html.ValidationMessageFor(model => model.IsEnabled, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.IsFooter, htmlAttributes: new { @class = "control-label col-md-6" })
                                    <div class="col-md-10">
                                        <div class="checkbox">
                                            @Html.EditorFor(model => model.IsFooter)
                                            @Html.ValidationMessageFor(model => model.IsFooter, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @if (!string.IsNullOrEmpty(Model.BannerImagePath))
                            {
                                <div class="col-md-6">
                                    @if (!string.IsNullOrEmpty(Model.BannerImagePath))
                                    {
                                        <div class="form-group">
                                            <div class="col-md-10">
                                                <img src="@Url.Content(Model.BannerImagePath)" alt="@Model.BannerAltText" width="300" height="92" class="img-thumbnail" />
                                                @Html.EditorFor(model => model.BannerImagePath, new { htmlAttributes = new { @class = "form-control d-none" } })
                                            </div>
                                        </div>
                                    }
                                </div>
                            }
                        </div>
                        <div class="clearfix">&nbsp;</div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="submit" value="Save" class="btn btn-primary waves-effect waves-light" />
                                        @*<input type="reset" value="Reset" class="btn btn-primary waves-effect waves-light" />*@
                                        <input type="button" value="Cancel" class="btn btn-primary waves-effect waves-light" onclick="location.href='@Url.Action("Index","Page")';" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div> <!-- end col -->
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}