﻿@model NIBL.Models.ViewModels.FooterSectionViewModel

@{
    ViewBag.Title = "Edit Home Banner";
}

<!-- start page title -->
<div class="row align-items-center">
    @Html.Partial("~/Areas/Admin/Views/Shared/_PageHeaderLayout.cshtml")

    <div class="col-sm-6">
        <div class="float-right d-none d-md-block">
            <button class="btn btn-primary waves-effect waves-light" aria-haspopup="true" aria-expanded="false" onclick="location.href='@Url.Action("Index","FooterSection")';">
                <i class="fas fa-step-backward mr-2"></i> @Html.ActionLink("Go Back", "Index")
            </button>
        </div>
    </div>
</div>
<!-- end page title -->

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">

                <h4 class="card-title">Footer Section</h4>
                <p class="card-title-desc">
                    Add new footer section information in the application.
                </p>

                @using (Html.BeginForm("Edit", "FooterSection", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.Id)

                        @*<div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.FooterType, htmlAttributes: new { @class = "control-label col-md-6" })
                                        <div class="col-md-10">
                                            @Html.EnumDropDownListFor(model => model.FooterType, "- - - Please Select - - -", htmlAttributes: new { @class = "form-control select2", @disabled = "disabled" })
                                            @Html.ValidationMessageFor(model => model.FooterType, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>*@
                        <div class="clearfix">&nbsp;</div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-6" })
                                    <div class="col-md-11">
                                        @Html.TextAreaFor(model => model.Description, new { @class = "form-control editorHtml", @rows = "7" })
                                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.TitleNP, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.TitleNP, new { htmlAttributes = new { @class = "form-control nepali" } })
                                        @Html.ValidationMessageFor(model => model.TitleNP, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.DescriptionNP, htmlAttributes: new { @class = "control-label col-md-6" })
                                    <div class="col-md-11">
                                        @Html.TextAreaFor(model => model.DescriptionNP, new { @class = "form-control editorHtml nepali", @rows = "7" })
                                        @Html.ValidationMessageFor(model => model.DescriptionNP, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix">&nbsp;</div>
                        @*@if (Model.FooterType.Equals(NIBL.Models.Enums.FooterTypeEnum.Links))
                            {
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.LinkTitle, htmlAttributes: new { @class = "control-label col-md-6" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.LinkTitle, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.LinkTitle, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.LinkUrl, htmlAttributes: new { @class = "control-label col-md-6" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.LinkUrl, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.LinkUrl, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }*@
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.IsEnabled, htmlAttributes: new { @class = "control-label col-md-6" })
                                    <div class="col-md-10">
                                        <div class="checkbox-custom checkbox-primary">
                                            @Html.EditorFor(model => model.IsEnabled)
                                            @Html.ValidationMessageFor(model => model.IsEnabled, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix">&nbsp;</div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="submit" value="Save" class="btn btn-primary waves-effect waves-light" />
                                        @*<input type="reset" value="Reset" class="btn btn-primary waves-effect waves-light" />*@
                                        <input type="button" value="Cancel" class="btn btn-primary waves-effect waves-light" onclick="location.href='@Url.Action("Index","FooterSection")';" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div> <!-- end col -->
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}