﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewBag.Title - NIBL</title>

    <!-- app favicon -->
    <link rel="shortcut icon" href="~/Content/theme/images/favicon.ico" />
    <!-- datatables -->
    <link rel="stylesheet" type="text/css" href="~/Scripts/theme/libs/datatables.net-rowReorder/css/rowReorder.dataTables.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Scripts/theme/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Scripts/theme/libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css" />
    <!-- responsive datatable -->
    <link rel="stylesheet" type="text/css" href="~/Scripts/theme/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css" />
    <!-- Sweet Alert-->
    <link rel="stylesheet" type="text/css" href="~/Scripts/theme/libs/sweetalert2/sweetalert2.min.css" />

    <link rel="stylesheet" type="text/css" href="~/Scripts/theme/libs/select2/css/select2.min.css" />
    <!-- bootstrap css -->
    <link rel="stylesheet" type="text/css" href="~/Content/theme/css/bootstrap.css" id="bootstrap-style" />
    <!-- icons css -->
    <link rel="stylesheet" type="text/css" href="~/Content/theme/css/icons.css" />
    <!-- app css -->
    <link rel="stylesheet" type="text/css" href="~/Content/theme/css/app.css" id="app-style" />

    <style>
        td {
            word-wrap: break-word
        }
    </style>

    @Scripts.Render("~/bundles/modernizr")
</head>
<body data-sidebar="dark">
    <div id="layout-wrapper">
        @Html.Action("GetSideMenu", "Dashboard")
        @Html.Partial("~/Areas/Admin/Views/Shared/_TopNavLayout.cshtml")
        @*@Html.Partial("~/Areas/Admin/Views/Shared/_SideNavLayout.cshtml")*@
        <!-- main content -->
        <div class="main-content">
            <div class="page-content">
                <div class="container-fluid">
                    @if (TempData["Message"] != null)
                    {
                        <div class="clearfix">&nbsp;</div>
                        <div class="alert alert-success">@TempData["Message"]</div>
                    }
                    @if (TempData["WarningMessage"] != null)
                    {
                        <div class="clearfix">&nbsp;</div>
                        <div class="alert alert-warning">@TempData["WarningMessage"]</div>
                    }
                    @RenderBody()
                </div>
            </div>
            <!-- footer -->
            <footer class="footer">
                <div class="container-fluid">
                    <div class="row float-right">
                        <div class="col-12">
                            ©
                            <script>document.write(new Date().getFullYear())</script> NIBL | Powered by PagodaLabs.
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <!-- JAVASCRIPT -->
    <script src="~/Scripts/theme/libs/jquery/jquery.min.js"></script>
    <script src="~/Scripts/theme/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/theme/libs/metismenu/metisMenu.min.js"></script>
    <script src="~/Scripts/theme/libs/simplebar/simplebar.min.js"></script>
    <script src="~/Scripts/theme/libs/node-waves/waves.min.js"></script>

    <script src="~/Scripts/theme/libs/tinymce/tinymce.min.js"></script>
    <script type="text/javascript">
        tinymce.init({
            selector: 'textarea.editorHtml',
            height: 300,
            menubar: false,
            plugins: [
                'advlist autolink lists link image charmap print preview anchor responsivefilemanager',
                'searchreplace visualblocks code fullscreen',
                'insertdatetime media table paste code help wordcount hr'],
            toolbar: 'undo redo | formatselect | bold  italic underline hr backcolor | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | removeformat | help | table | responsivefilemanager | image | media | code | link',
            image_title: true,
            image_advtab: true,

            relative_urls: false,
            remove_script_host: false,
            convert_urls: true,

            external_filemanager_path: "/filemanager/",
            external_plugins: { "filemanager": "/filemanager/plugin.min.js" },
            filemanager_title: "File Manager",

            // enable automatic uploads of images represented by blob or data URIs
            automatic_uploads: true,
            images_dataimg_filter: function (img) {
                return img.hasAttribute('internal-blob');
            },
            // add custom filepicker only to Image dialog
            file_picker_types: 'file image media',
            file_picker_callback: function (cb, value, meta) {
                var input = document.createElement('input');
                input.setAttribute('type', 'file');
                input.setAttribute('accept', 'image/*');

                input.onchange = function () {
                    var file = this.files[0];
                    var reader = new FileReader();

                    reader.onload = function () {
                        var id = 'blobid' + (new Date()).getTime();
                        var blobCache = tinymce.activeEditor.editorUpload.blobCache;
                        var base64 = reader.result.split(',')[1];
                        var blobInfo = blobCache.create(id, file, base64);
                        blobCache.add(blobInfo);

                        // call the callback and populate the Title field with the file name
                        cb(blobInfo.blobUri(), { title: file.name });
                    };
                    reader.readAsDataURL(file);
                };

                input.click();
            }
        });
    </script>

    <script src="~/Scripts/theme/libs/select2/js/select2.min.js"></script>

    <!-- Peity chart-->
    <script src="~/Scripts/theme/libs/peity/jquery.peity.min.js"></script>
    <!-- Plugin Js-->
    <script src="~/Scripts/theme/libs/chartist/chartist.min.js"></script>
    <script src="~/Scripts/theme/libs/chartist-plugin-tooltips/chartist-plugin-tooltip.min.js"></script>
    <script src="~/Scripts/theme/js/pages/dashboard.init.js"></script>
    <!-- Required datatable js -->
    <script src="~/Scripts/theme/libs/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/theme/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
    <!-- Responsive examples -->
    <script src="~/Scripts/theme/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/Scripts/theme/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>
    <!-- Datatable init js -->
    <script src="~/Scripts/theme/js/pages/datatables.init.js"></script>
    <script src="~/Scripts/theme/libs/datatables.net-rowReorder/js/dataTables.rowReorder.min.js"></script>
    <!-- Sweet Alerts js -->
    <script src="~/Scripts/theme/libs/sweetalert2/sweetalert2.min.js"></script>
    <script src="~/Scripts/theme/libs/admin-resources/bootstrap-filestyle/bootstrap-filestyle.min.js"></script>
    <script src="~/Scripts/theme/js/pages/form-advanced.init.js"></script>
    <!-- app js -->
    <script src="~/Scripts/theme/js/app.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            // hide province dropdown in team members
            if ($(".fieldDH").length > 0) {
                $(".fieldDH").hide();
            }

            window.setTimeout(function () {
                $(".alert").fadeTo(1500, 0).slideUp(500, function () {
                    $(this).prev().remove();
                    $(this).remove();
                });
            }, 5000);

            $("#pageTemplate").change(function () {
                var templateId = $("select#pageTemplate").val();

                if (templateId == 1) {
                    $("#formDiv").load("/Admin/Page/Create");
                }
            });

            $('#isFeaturedAll').click(function () {
                $(':checkbox.isFeatured').prop('checked', this.checked);
            });

            $('#isFixedAll').click(function () {
                $(':checkbox.isFixed').prop('checked', this.checked);
            });

            $('#isQuickLinkAll').click(function () {
                $(':checkbox.isQuickLink').prop('checked', this.checked);
            });
        });

        // load form layout according to footer type
        function loadFooterForm() {
            var typeId = $("#FooterType").val();
            if (typeId == 1) {
                $(".fieldDescriptive").show();
                $(".fieldLinks").hide();
            }
            else if (typeId == 2) {
                $(".fieldDescriptive").hide();
                $(".fieldLinks").show();
            }
            else {
                $(".fieldDescriptive").hide();
                $(".fieldLinks").hide();
            }
        }

        // load form layout according to team type
        function loadForm() {
            var typeId = $('#TeamType').val();
            if (typeId == 1) {
                $(".fieldDefault").show();
                $(".fieldBOD").hide();
                $(".fieldBODM").hide();
                $(".fieldBM").hide();
                $(".fieldDH").show();
                $(".fieldPMDH").hide();
            }
            else if (typeId == 2 || typeId == 7) {
                $(".fieldDefault").show();
                $(".fieldBOD").show();
                $(".fieldBODM").show();
                $(".fieldBM").hide();
                $(".fieldDH").show();
                $(".fieldPMDH").hide();
            }
            else if (typeId == 3) {
                $(".fieldDefault").show();
                $(".fieldBOD").hide();
                $(".fieldBODM").show();
                $(".fieldBM").hide();
                $(".fieldDH").show();
                $(".fieldPMDH").hide();
            }
            else if (typeId == 4) {
                $(".fieldDefault").show();
                $(".fieldBOD").hide();
                $(".fieldBODM").hide();
                $(".fieldBM").hide();
                $(".fieldDH").show();
                $(".fieldPMDH").show();
            }
            else if (typeId == 5) {
                $(".fieldDefault").show();
                $(".fieldBOD").hide();
                $(".fieldBODM").hide();
                $(".fieldBM").show();
                $(".fieldDH").show();
                $(".fieldPMDH").hide();
            }
            else if (typeId == 6) {
                $(".fieldDefault").show();
                $(".fieldBOD").hide();
                $(".fieldBODM").hide();
                $(".fieldBM").hide();
                $(".fieldDH").show();
                $(".fieldPMDH").show();
            }
            else {
                $(".fieldDefault").hide();
                $(".fieldBOD").hide();
                $(".fieldBODM").hide();
                $(".fieldBM").hide();
                $(".fieldDH").hide();
            }
        }

        // delete popup
        function confirmDelete(ctl) {
            var defaultAction = $(ctl).prop("href");
            Swal.fire({
                title: "Are you sure?",
                text: "You won't be able to revert this!",
                type: "warning",
                showCancelButton: !0,
                confirmButtonColor: "#34c38f",
                cancelButtonColor: "#f46a6a",
                confirmButtonText: "Yes, delete it!"
            }).then(function (t) {
                t.value && Swal.fire("Deleted!", "Your data has been deleted.", "success").then(function () { window.location = defaultAction; });
            });
        }
    </script>

    @RenderSection("scripts", required: false)

    <script type="text/javascript">
        $.validator.setDefaults({
            ignore: []
        });
    </script>
</body>
</html>