﻿<div class="col-sm-6">
    <div class="page-title-box">
        <h4 class="font-size-18">@ViewBag.Title</h4>
        <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item">
                @Html.Label("admin")
                @*@Html.ActionLink("admin", "Index", ViewContext.RouteData.Values["controller"].ToString())*@
            </li>
            <li class="breadcrumb-item">
                @Html.Label(ViewContext.RouteData.Values["controller"].ToString().ToLower())
                @*@Html.ActionLink(ViewContext.RouteData.Values["controller"].ToString().ToLower(), "Index")*@
            </li>
            <li class="breadcrumb-item active">
                @Html.Label(ViewContext.RouteData.Values["action"].ToString().ToLower())
                @*@Html.ActionLink(ViewContext.RouteData.Values["action"].ToString().ToLower(), ViewContext.RouteData.Values["action"].ToString())*@
            </li>
        </ol>
    </div>
</div>