﻿@model NIBL.Models.ViewModels.Shared.MenuLayoutViewModel

<!-- left sidebar -->
<div class="vertical-menu">
    <div data-simplebar class="h-100">

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">
                <li class="menu-title">Main</li>

                <li>
                    <a href="@Url.Action("Index","Dashboard", new { Area = "Admin"})" class="waves-effect">
                        <i class="ti-dashboard"></i>
                        <span>Dashboard</span>
                    </a>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="ti-home"></i>
                        <span>Home</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="@Url.Action("Index","HomeBanner", new { Area = "Admin"})">Featured Banners</a></li>
                        <li><a href="@Url.Action("Index","FeaturedProduct", new { Area = "Admin"})">Featured Products</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="ti-email"></i>
                        <span>Email</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="@Url.Action("Index","Subscriber", new { Area = "Admin"})">Subscriptions</a></li>
                        <li><a href="@Url.Action("Index","ForexSubscriber", new { Area = "Admin"})">Forex Subscriptions</a></li>
                    </ul>
                </li>

                <li>
                    <a href="@Url.Action("Index","Nepse", new { Area = "Admin"})" class="waves-effect">
                        <i class="ti-bar-chart"></i>
                        <span>Nepse Data</span>
                    </a>
                </li>

                <li>
                    <a href="@Url.Action("Index","QuickLink", new { Area = "Admin"})" class="waves-effect">
                        <i class="ti-link"></i>
                        <span>QuickLinks</span>
                    </a>
                </li>

                <li>
                    <a href="@Url.Action("ExternalIndex","QuickLink", new { Area = "Admin"})" class="waves-effect">
                        <i class="ti-link"></i>
                        <span>External Links</span>
                    </a>
                </li>

                <li class="menu-title">Pages</li>
                @if (Model != null)
                {
                    foreach (var menuItem in Model.Menus)
                    {
                        <li>
                            @if (Model.SubMenus.Where(x => x.MenuId == menuItem.Id).Count() > 0)
                            {
                                <a href="javascript: void(0);" class="has-arrow waves-effect">
                                    <i class="ti-view-list"></i>
                                    <span> @menuItem.Name </span>
                                </a>
                            }
                            else
                            {
                                <a href="javascript: void(0);" class="waves-effect">
                                    <i class="ti-view-list"></i>
                                    <span> @menuItem.Name </span>
                                </a>
                            }

                            @if (Model.SubMenus.Where(x => x.MenuId == menuItem.Id).Count() > 0)
                            {
                                <ul class="sub-menu" aria-expanded="false">
                                    @foreach (var subMenuItem in Model.SubMenus.Where(x => x.MenuId == menuItem.Id))
                                    {
                                        <li><a href="@Url.Action("Index","PageList", new { id = subMenuItem.Id})">@*<i class="ti-list"></i>*@@subMenuItem.Name</a></li>
                                    }
                                </ul>
                            }
                        </li>
                    }
                }

                <li class="menu-title">Components</li>

                <li>
                    <a href="@Url.Action("Index","Menu", new { Area = "Admin"})" class="waves-effect">
                        <i class="ti-menu"></i>
                        <span> Manage Menus </span>
                    </a>
                </li>

                <li>
                    <a href="@Url.Action("Index","SubMenu", new { Area = "Admin"})" class="waves-effect">
                        <i class="ti-menu-alt"></i>
                        <span> Manage Sub-Menus </span>
                    </a>
                </li>

                <li>
                    <a href="@Url.Action("Index","Page", new { Area = "Admin"})" class="waves-effect">
                        <i class="ti-receipt"></i>
                        <span> Manage Pages </span>
                    </a>
                </li>

                @if (Model.FooterPages.Count() > 0)
                {
                    <li>

                        <a href="javascript: void(0);" class="has-arrow waves-effect">
                            <i class="ti-receipt"></i>
                            <span> Manage Footer Pages </span>
                        </a>
                        <ul class="sub-menu" aria-expanded="false">
                            @foreach (var footerItem in Model.FooterPages)
                            {
                                <li><a href="@Url.Action("Index",footerItem.PageTemplate.Controller, new { sid = footerItem.Id, id = footerItem.Id })">@*<i class="ti-list"></i>*@@footerItem.Name</a></li>
                            }
                        </ul>
                    </li>
                }

                @if (Model.SinglePages.Count() > 0)
                {
                    <li>

                        <a href="javascript: void(0);" class="has-arrow waves-effect">
                            <i class="ti-receipt"></i>
                            <span> Manage Single Pages </span>
                        </a>
                        <ul class="sub-menu" aria-expanded="false">
                            @foreach (var page in Model.SinglePages)
                            {
                                <li><a href="@Url.Action("Index",page.PageTemplate.Controller, new { sid = page.Id, id = page.Id })">@*<i class="ti-list"></i>*@@page.Name</a></li>
                            }
                        </ul>
                    </li>
                }

                <li>
                    <a href="@Url.Action("Index","Product", new { Area = "Admin"})" class="waves-effect">
                        <i class="ti-package"></i>
                        <span> Manage Products </span>
                    </a>
                </li>

                <li>
                    <a href="@Url.Action("Index","Province", new { Area = "Admin"})" class="waves-effect">
                        <i class="ti-location-pin"></i>
                        <span> Manage Provinces </span>
                    </a>
                </li>

                <li>
                    <a href="@Url.Action("Index","NavLogo", new { Area = "Admin"})" class="waves-effect">
                        <i class="ti-settings"></i>
                        <span> Manage Logo </span>
                    </a>
                </li>

                <li>
                    <a href="@Url.Action("Index","ToolbarLink", new { Area = "Admin"})" class="waves-effect">
                        <i class="ti-settings"></i>
                        <span> Manage Toolbar </span>
                    </a>
                </li>

                <li>
                    <a href="@Url.Action("Index","FooterSection", new { Area = "Admin"})" class="waves-effect">
                        <i class="ti-settings"></i>
                        <span> Manage Footer Section </span>
                    </a>
                </li>

                <li>
                    <a href="@Url.Action("Index","SocialMedia", new { Area = "Admin"})" class="waves-effect">
                        <i class="ti-layout-media-center"></i>
                        <span> Manage Social Media </span>
                    </a>
                </li>

                <li class="menu-title">Administration</li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="ti-user"></i>
                        <span> Manage Users </span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="@Url.Action("Create","User", new { Area = "Admin"})">Add</a></li>
                        <li><a href="@Url.Action("Index","User", new { Area = "Admin"})">View</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="ti-user"></i>
                        <span> Manage User Roles </span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="@Url.Action("Create","UserRole", new { Area = "Admin"})">Add</a></li>
                        <li><a href="@Url.Action("Index","UserRole", new { Area = "Admin"})">View</a></li>
                    </ul>
                </li>

                <li class="menu-title">Settings</li>

                <li>
                    <a href="@Url.Action("Index","ContactSetting", new { Area = "Admin"})" class="waves-effect">
                        <i class="ti-settings"></i>
                        <span> Contact Settings </span>
                    </a>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="ti-layout"></i>
                        <span> UI Layouts </span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="@Url.Action("Create","UILayout", new { Area = "Admin"})">Add</a></li>
                        <li><a href="@Url.Action("Index","UILayout", new { Area = "Admin"})">View</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="ti-layout"></i>
                        <span> Page Templates </span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="@Url.Action("Create","PageTemplate", new { Area = "Admin"})">Add</a></li>
                        <li><a href="@Url.Action("Index","PageTemplate", new { Area = "Admin"})">View</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- Sidebar -->
    </div>
</div>