﻿<!-- header -->
<header id="page-topbar">
    <div class="navbar-header">
        <div class="d-flex">
            <!-- LOGO -->
            <div class="navbar-brand-box">
                <a href="" class="logo logo-dark">
                    <span class="logo-sm">
                        <img src="~/Content/theme/images/logo.svg" alt="" height="22">
                    </span>
                    <span class="logo-lg">
                        <img src="~/Content/theme/images/logo-light-nibl.png" alt="" height="17">
                    </span>
                </a>

                <a href="" class="logo logo-light">
                    <span class="logo-sm">
                        <img src="~/Content/theme/images/logo-sm-nibl.png" alt="" height="22">
                    </span>
                    <span class="logo-lg">
                        <img src="~/Content/theme/images/logo-light-nibl.png" alt="" height="50" style="margin-right:15px;">
                    </span>
                </a>
            </div>

            <button type="button" class="btn btn-sm px-3 font-size-24 header-item waves-effect" id="vertical-menu-btn">
                <i class="mdi mdi-menu"></i>
            </button>
        </div>

        <div class="d-flex">
            @*<div class="dropdown d-none d-md-block ml-2">
                    <button type="button" class="btn header-item waves-effect"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img class="mr-2" src="~/Content/theme/images/flags/usa_flag.png" alt="Header Language" height="30"> English <span class="mdi mdi-chevron-down"></span>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">

                         item
                        <a href="javascript:void(0);" class="dropdown-item notify-item">
                            <img src="~/Content/theme/images/flags/nepal_flag.png" alt="user-image" class="mr-1" height="30"> <span class="align-middle"> Nepali </span>
                        </a>
                    </div>
                </div>*@

            <div class="dropdown d-none d-lg-inline-block">
                <button type="button" class="btn header-item noti-icon waves-effect" data-toggle="" onclick="location.href='@Url.Action("LogOff", "Login", new { area = "" })';">
                    <i class="mdi mdi-power"></i>
                </button>
            </div>

            <div class="dropdown d-none d-lg-inline-block">
                <button type="button" class="btn header-item noti-icon waves-effect" data-toggle="fullscreen">
                    <i class="mdi mdi-fullscreen"></i>
                </button>
            </div>

            @*<div class="dropdown d-inline-block">
                <button type="button" class="btn header-item waves-effect" id="page-header-user-dropdown"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img class="rounded-circle header-profile-user" src="~/Content/theme/images/users/user-4.jpg"
                         alt="Header Avatar">
                </button>
                <div class="dropdown-menu dropdown-menu-right">*@
            <!-- item-->
            @*<a class="dropdown-item" href="#"><i class="mdi mdi-account-circle font-size-17 align-middle mr-1"></i> Profile</a>
                <a class="dropdown-item d-block" href="#"><span class="badge badge-success float-right">11</span><i class="mdi mdi-settings font-size-17 align-middle mr-1"></i> Settings</a>*@
            @*<div class="dropdown-divider"></div>*@
            @*<a class="dropdown-item text-danger" href="@Url.Action("LogOff", "Login", new { area = "" })"><i class="bx bx-power-off font-size-17 align-middle mr-1 text-danger"></i> Logout</a>
                    </div>
                </div>*@
        </div>
    </div>
</header>