﻿@model NIBL.Models.ViewModels.Shared.DownloadViewModel

@{
    ViewBag.Title = "View Page Content";
}

<!-- start page title -->
<div class="row align-items-center">
    @Html.Partial("~/Areas/Admin/Views/Shared/_PageHeaderLayout.cshtml")

    <div class="col-sm-6">
        <div class="float-right d-none d-md-block">
            <button class="btn btn-primary waves-effect waves-light" aria-haspopup="true" aria-expanded="false" onclick="location.href='@Url.Action("Create", "Download", new {  id = ViewBag.PageId, sid = ViewBag.SubMenuId })';">
                <i class="fas fa-plus mr-2"></i> @Html.ActionLink("Add New", "Create", new { Area = "Admin", Controller = "Download", id = ViewBag.PageId, sid = ViewBag.SubMenuId })
            </button>
            <button class="btn btn-primary waves-effect waves-light" aria-haspopup="true" aria-expanded="false" onclick="location.href='@Url.Action("Index", "PageList", new { id = ViewBag.SubMenuId })';">
                <i class="fas fa-step-backward mr-2"></i> @Html.ActionLink("Go Back", "Index", new { Area = "Admin", Controller = "PageList", id = ViewBag.SubMenuId })
            </button>
        </div>
    </div>
</div>
<!-- end page title -->

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Page</h4>
                <p class="card-title-desc">
                    List of page information based on sub menu in the application.
                </p>

                <table id="datatable" class="table table-bordered dt-responsive" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                    <thead>
                        <tr>
                            <th>S.N.</th>
                            <th>
                                @Html.DisplayNameFor(model => model.Downloads.First().Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Downloads.First().Description)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Downloads.First().CategoryId)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Downloads.First().PageId)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Downloads.First().IsEnabled)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Downloads.Count() > 0)
                        {
                            foreach (var item in Model.Downloads)
                            {
                                <tr>
                                    <td class="text-center">
                                        @(@Model.Downloads.ToList().IndexOf(item) + (int)1)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Description)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DownloadCategory.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Page.Name)
                                    </td>
                                    <td class="text-center">
                                        @if (!item.IsEnabled)
                                        {
                                            <i class="fas fa-times-circle" aria-hidden="true" style="color:#ff0000;"></i>
                                        }
                                        else
                                        {
                                            <i class="fas fa-check-circle" aria-hidden="true" style="color:#3ac13a;"></i>
                                        }
                                    </td>
                                    <td class="text-center">
                                        <a href="@Url.Action("Edit","Download", new { id = item.Id, sId = ViewBag.SubMenuId})"><i class="fas fa-pencil-alt" aria-hidden="true"></i></a> |
                                        <a href="@Url.Action("Delete","Download", new { id = item.Id, sId = ViewBag.SubMenuId, pId = ViewBag.PageId } )" onclick="confirmDelete(this); return false;"><i class="fas fa-trash-alt" aria-hidden="true"></i></a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@if (ViewBag.PageType == "financialDownloads")
{
    <!-- start page title -->
    <div class="row align-items-center">
        <div class="col-sm-6">
            <div class="page-title-box">
                <h4 class="font-size-18">&nbsp;</h4>
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item">
                        &nbsp;
                    </li>
                </ol>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="float-right d-none d-md-block">
                <button class="btn btn-primary waves-effect waves-light" aria-haspopup="true" aria-expanded="false" onclick="location.href='@Url.Action("Create", "FinancialNetWorth", new {  id = ViewBag.PageId, sid = ViewBag.SubMenuId })';">
                    <i class="fas fa-plus mr-2"></i> @Html.ActionLink("Add New", "Create", new { Area = "Admin", Controller = "FinancialNetWorth", id = ViewBag.PageId, sid = ViewBag.SubMenuId })
                </button>
            </div>
        </div>
    </div>
    <!-- end page title -->

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Financial NetWorth</h4>
                    <p class="card-title-desc">
                        List of financial networth information in the application.
                    </p>

                    <table id="" class="table table-bordered dt-responsive nowrap display" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                        <thead>
                            <tr>
                                <th>S.N.</th>
                                <th>
                                    @Html.DisplayNameFor(model => model.NetWorths.First().Name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.NetWorths.First().NetWorth)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.DownloadCategorys.First().IsEnabled)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.NetWorths.Count() > 0)
                            {
                                foreach (var item in Model.NetWorths)
                                {
                                    <tr>
                                        <td class="text-center">
                                            @(@Model.NetWorths.ToList().IndexOf(item) + (int)1)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.NetWorth)
                                        </td>
                                        <td class="text-center">
                                            @if (!item.IsEnabled)
                                            {
                                                <i class="fas fa-times-circle" aria-hidden="true" style="color:#ff0000;"></i>
                                            }
                                            else
                                            {
                                                <i class="fas fa-check-circle" aria-hidden="true" style="color:#3ac13a;"></i>
                                            }
                                        </td>
                                        <td class="text-center">
                                            <a href="@Url.Action("Edit","FinancialNetWorth", new { id = item.Id, sId = ViewBag.SubMenuId, pId = ViewBag.PageId })"><i class="fas fa-pencil-alt" aria-hidden="true"></i></a> |
                                            <a href="@Url.Action("Delete","DownloadCateFinancialNetWorthgory", new { id = item.Id, sId = ViewBag.SubMenuId, pId = ViewBag.PageId } )" onclick="confirmDelete(this); return false;"><i class="fas fa-trash-alt" aria-hidden="true"></i></a>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
}

<!-- start page title -->
<div class="row align-items-center">
    <div class="col-sm-6">
        <div class="page-title-box">
            <h4 class="font-size-18">&nbsp;</h4>
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item">
                    &nbsp;
                </li>
            </ol>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="float-right d-none d-md-block">
            <button class="btn btn-primary waves-effect waves-light" aria-haspopup="true" aria-expanded="false" onclick="location.href='@Url.Action("Create", "DownloadCategory", new {  id = ViewBag.PageId, sid = ViewBag.SubMenuId })';">
                <i class="fas fa-plus mr-2"></i> @Html.ActionLink("Add New", "Create", new { Area = "Admin", Controller = "DownloadCategory", id = ViewBag.PageId, sid = ViewBag.SubMenuId })
            </button>
        </div>
    </div>
</div>
<!-- end page title -->

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Download Category</h4>
                <p class="card-title-desc">
                    List of download category information in the application.
                </p>

                <table id="" class="table table-bordered dt-responsive nowrap display" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                    <thead>
                        <tr>
                            <th>S.N.</th>
                            <th>
                                @Html.DisplayNameFor(model => model.DownloadCategorys.First().Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.DownloadCategorys.First().Description)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.DownloadCategorys.First().IsEnabled)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.DownloadCategorys.Count() > 0)
                        {
                            foreach (var item in Model.DownloadCategorys)
                            {
                                <tr>
                                    <td class="text-center">
                                        @(@Model.DownloadCategorys.ToList().IndexOf(item) + (int)1)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Description)
                                    </td>
                                    <td class="text-center">
                                        @if (!item.IsEnabled)
                                        {
                                            <i class="fas fa-times-circle" aria-hidden="true" style="color:#ff0000;"></i>
                                        }
                                        else
                                        {
                                            <i class="fas fa-check-circle" aria-hidden="true" style="color:#3ac13a;"></i>
                                        }
                                    </td>
                                    <td class="text-center">
                                        <a href="@Url.Action("Edit","DownloadCategory", new { id = item.Id, sId = ViewBag.SubMenuId, pId = ViewBag.PageId })"><i class="fas fa-pencil-alt" aria-hidden="true"></i></a> |
                                        <a href="@Url.Action("Delete","DownloadCategory", new { id = item.Id, sId = ViewBag.SubMenuId, pId = ViewBag.PageId } )" onclick="confirmDelete(this); return false;"><i class="fas fa-trash-alt" aria-hidden="true"></i></a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>