﻿@model IEnumerable<NIBL.Models.ViewModels.SubMenuViewModel>

@{
    ViewBag.Title = "View SubMenu";
}

<!-- start page title -->
<div class="row align-items-center">
    @Html.Partial("~/Areas/Admin/Views/Shared/_PageHeaderLayout.cshtml")

    <div class="col-sm-6">
        <div class="float-right d-none d-md-block">
            <button class="btn btn-primary waves-effect waves-light" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-plus mr-2"></i> @Html.ActionLink("Add New", "Create")
            </button>
        </div>
    </div>
</div>
<!-- end page title -->

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Menu</h4>
                <p class="card-title-desc">
                    List of menu information in the application.
                </p>

                <table id="datatable" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                    <thead>
                        <tr>
                            <th>S.N.</th>
                            <th class="d-none">S.N.</th>
                            <th>
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.MenuId)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.LayoutId)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.HasChild)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.IsEnabled)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Count() > 0)
                        {
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td class="text-center">
                                        @(@Model.ToList().IndexOf(item) + (int)1)
                                    </td>
                                    <td class="d-none">
                                        @Html.DisplayFor(modelItem => item.Id)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Menu.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.UILayout.Name)
                                    </td>
                                    <td class="text-center">
                                        @if (!item.HasChild)
                                        {
                                            <i class="fas fa-times-circle" aria-hidden="true" style="color:#ff0000;"></i>
                                        }
                                        else
                                        {
                                            <i class="fas fa-check-circle" aria-hidden="true" style="color:#3ac13a;"></i>
                                        }
                                    </td>
                                    <td class="text-center">
                                        @if (!item.IsEnabled)
                                        {
                                            <i class="fas fa-times-circle" aria-hidden="true" style="color:#ff0000;"></i>
                                        }
                                        else
                                        {
                                            <i class="fas fa-check-circle" aria-hidden="true" style="color:#3ac13a;"></i>
                                        }
                                    </td>
                                    <td class="text-center">
                                        <a href="@Url.Action("Edit","SubMenu", new { id = item.Id})"><i class="fas fa-pencil-alt" aria-hidden="true"></i></a> |
                                        <a href="@Url.Action("Delete","SubMenu", new { id = item.Id} )" onclick="confirmDelete(this); return false;"><i class="fas fa-trash-alt" aria-hidden="true"></i></a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>