﻿@model NIBL.Models.ViewModels.ProductDetails.ProductDetailEditViewModel

@{
    ViewBag.Title = "Edit Page Content";

    var sId = ViewBag.SubMenuId;
    var pId = ViewBag.PageId;
}

<!-- start page title -->
<div class="row align-items-center">
    @Html.Partial("~/Areas/Admin/Views/Shared/_PageHeaderLayout.cshtml")

    <div class="col-sm-6">
        <div class="float-right d-none d-md-block">
            <button class="btn btn-primary waves-effect waves-light" aria-haspopup="true" aria-expanded="false" onclick="location.href='@Url.Action("Index", "ProductDetail", new { id =  ViewBag.PageId, sid = ViewBag.SubMenuId })';">
                <i class="fas fa-step-backward mr-2"></i> @Html.ActionLink("Go Back", "Index", new { Area = "Admin", Controller = "ProductDetail", id = ViewBag.PageId, sid = ViewBag.SubMenuId })
            </button>
        </div>
    </div>
</div>
<!-- end page title -->

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">

                <h4 class="card-title">Product</h4>
                <p class="card-title-desc">
                    Add new product detail information in the application.
                </p>

                @using (Html.BeginForm("Edit", "ProductDetail", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.Id)

                        <input type="hidden" name="sId" value="@sId" />
                        <input type="hidden" name="pId" value="@pId" />

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.ProductId, htmlAttributes: new { @class = "control-label col-md-6" })
                                    <div class="col-md-10">
                                        @Html.DropDownListFor(model => model.ProductId, (SelectList)ViewBag.ProductList, "- - - Please Select - - -", htmlAttributes: new { @class = "form-control select2" })
                                        @Html.ValidationMessageFor(model => model.ProductId, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.IsEnabled, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        <div class="checkbox">
                                            @Html.EditorFor(model => model.IsEnabled)
                                            @Html.ValidationMessageFor(model => model.IsEnabled, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix">&nbsp;</div>
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs nav-tabs-custom" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#overview" role="tab">
                                    <span class="d-block d-sm-none"><i class="fas fa-home"></i></span>
                                    <span class="d-none d-sm-block">Overview</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#feature" role="tab">
                                    <span class="d-block d-sm-none"><i class="far fa-user"></i></span>
                                    <span class="d-none d-sm-block">Feature</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#benefit" role="tab">
                                    <span class="d-block d-sm-none"><i class="far fa-envelope"></i></span>
                                    <span class="d-none d-sm-block">Benefit</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#others" role="tab">
                                    <span class="d-block d-sm-none"><i class="far fa-envelope"></i></span>
                                    <span class="d-none d-sm-block">Others</span>
                                </a>
                            </li>
                        </ul>

                        <div class="tab-content">
                            <div class="tab-pane active p-3" id="overview" role="tabpanel">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.OverviewTitle, htmlAttributes: new { @class = "control-label col-md-6" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.OverviewTitle, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.OverviewTitle, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.OverviewCaption, htmlAttributes: new { @class = "control-label col-md-6" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.OverviewCaption, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.OverviewCaption, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.OverviewDescription, htmlAttributes: new { @class = "control-label col-md-6" })
                                            <div class="col-md-11">
                                                @Html.TextAreaFor(model => model.OverviewDescription, new { @class = "form-control editorHtml", @rows = "7" })
                                                @Html.ValidationMessageFor(model => model.OverviewDescription, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix">&nbsp;</div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.OverviewImageTitle, htmlAttributes: new { @class = "control-label col-md-6" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.OverviewImageTitle, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.OverviewImageTitle, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.OverviewImageAltText, htmlAttributes: new { @class = "control-label col-md-6" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.OverviewImageAltText, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.OverviewImageAltText, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.OverviewImageCaption, htmlAttributes: new { @class = "control-label col-md-6" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.OverviewImageCaption, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.OverviewImageCaption, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.OverviewFileUpload, htmlAttributes: new { @class = "control-label col-md-6" })
                                            <div class="col-md-10">
                                                @Html.TextBoxFor(model => model.OverviewFileUpload, new { type = "file", @class = "filestyle" })
                                                @Html.ValidationMessageFor(model => model.OverviewFileUpload, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        @if (!string.IsNullOrEmpty(Model.OverviewImagePath))
                                        {
                                            <div class="form-group">
                                                <div class="col-md-10">
                                                    <img src="@Url.Content(Model.OverviewImagePath)" alt="@Model.OverviewImageAltText" width="300" height="92" class="img-thumbnail" />
                                                    @Html.EditorFor(model => model.OverviewImagePath, new { htmlAttributes = new { @class = "form-control d-none" } })
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.OverviewTitleNP, htmlAttributes: new { @class = "control-label col-md-6" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.OverviewTitleNP, new { htmlAttributes = new { @class = "form-control nepali" } })
                                                @Html.ValidationMessageFor(model => model.OverviewTitleNP, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.OverviewCaptionNP, htmlAttributes: new { @class = "control-label col-md-6" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.OverviewCaptionNP, new { htmlAttributes = new { @class = "form-control nepali" } })
                                                @Html.ValidationMessageFor(model => model.OverviewCaptionNP, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.OverviewDescriptionNP, htmlAttributes: new { @class = "control-label col-md-6" })
                                            <div class="col-md-11">
                                                @Html.TextAreaFor(model => model.OverviewDescriptionNP, new { @class = "form-control editorHtml nepali", @rows = "7" })
                                                @Html.ValidationMessageFor(model => model.OverviewDescriptionNP, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix">&nbsp;</div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.OverviewImageTitleNP, htmlAttributes: new { @class = "control-label col-md-6" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.OverviewImageTitleNP, new { htmlAttributes = new { @class = "form-control nepali" } })
                                                @Html.ValidationMessageFor(model => model.OverviewImageTitleNP, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.OverviewImageCaptionNP, htmlAttributes: new { @class = "control-label col-md-6" })
                                                <div class="col-md-10">
                                                    @Html.EditorFor(model => model.OverviewImageCaptionNP, new { htmlAttributes = new { @class = "form-control nepali" } })
                                                    @Html.ValidationMessageFor(model => model.OverviewImageCaptionNP, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane p-3" id="feature" role="tabpanel">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.FeatureTitle, htmlAttributes: new { @class = "control-label col-md-6" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.FeatureTitle, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.FeatureTitle, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.FeatureDescription, htmlAttributes: new { @class = "control-label col-md-6" })
                                            <div class="col-md-11">
                                                @Html.TextAreaFor(model => model.FeatureDescription, new { @class = "form-control editorHtml", @rows = "7" })
                                                @Html.ValidationMessageFor(model => model.FeatureDescription, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix">&nbsp;</div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.FeatureImageTitle, htmlAttributes: new { @class = "control-label col-md-6" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.FeatureImageTitle, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.FeatureImageTitle, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.FeatureImageAltText, htmlAttributes: new { @class = "control-label col-md-6" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.FeatureImageAltText, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.FeatureImageAltText, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.FeatureImageCaption, htmlAttributes: new { @class = "control-label col-md-6" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.FeatureImageCaption, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.FeatureImageCaption, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.FeatureFileUpload, htmlAttributes: new { @class = "control-label col-md-6" })
                                            <div class="col-md-10">
                                                @Html.TextBoxFor(model => model.FeatureFileUpload, new { type = "file", @class = "filestyle" })
                                                @Html.ValidationMessageFor(model => model.FeatureFileUpload, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        @if (!string.IsNullOrEmpty(Model.FeatureImagePath))
                                        {
                                            <div class="form-group">
                                                <div class="col-md-10">
                                                    <img src="@Url.Content(Model.FeatureImagePath)" alt="@Model.FeatureImageAltText" width="300" height="92" class="img-thumbnail" />
                                                    @Html.EditorFor(model => model.FeatureImagePath, new { htmlAttributes = new { @class = "form-control d-none" } })
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.FeatureTitleNP, htmlAttributes: new { @class = "control-label col-md-6" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.FeatureTitleNP, new { htmlAttributes = new { @class = "form-control nepali" } })
                                                @Html.ValidationMessageFor(model => model.FeatureTitleNP, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.FeatureDescriptionNP, htmlAttributes: new { @class = "control-label col-md-6" })
                                            <div class="col-md-11">
                                                @Html.TextAreaFor(model => model.FeatureDescriptionNP, new { @class = "form-control editorHtml nepali", @rows = "7" })
                                                @Html.ValidationMessageFor(model => model.FeatureDescriptionNP, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix">&nbsp;</div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.FeatureImageTitleNP, htmlAttributes: new { @class = "control-label col-md-6" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.FeatureImageTitleNP, new { htmlAttributes = new { @class = "form-control nepali" } })
                                                @Html.ValidationMessageFor(model => model.FeatureImageTitleNP, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.FeatureImageCaptionNP, htmlAttributes: new { @class = "control-label col-md-6" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.FeatureImageCaptionNP, new { htmlAttributes = new { @class = "form-control nepali" } })
                                                @Html.ValidationMessageFor(model => model.FeatureImageCaptionNP, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane p-3" id="benefit" role="tabpanel">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.BenefitTitle, htmlAttributes: new { @class = "control-label col-md-6" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.BenefitTitle, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.BenefitTitle, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.BenefitDescription, htmlAttributes: new { @class = "control-label col-md-6" })
                                            <div class="col-md-11">
                                                @Html.TextAreaFor(model => model.BenefitDescription, new { @class = "form-control editorHtml", @rows = "7" })
                                                @Html.ValidationMessageFor(model => model.BenefitDescription, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix">&nbsp;</div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.BenefitImageTitle, htmlAttributes: new { @class = "control-label col-md-6" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.BenefitImageTitle, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.BenefitImageTitle, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.BenefitImageAltText, htmlAttributes: new { @class = "control-label col-md-6" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.BenefitImageAltText, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.BenefitImageAltText, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.BenefitImageCaption, htmlAttributes: new { @class = "control-label col-md-6" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.BenefitImageCaption, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.BenefitImageCaption, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.BenefitFileUpload, htmlAttributes: new { @class = "control-label col-md-6" })
                                            <div class="col-md-10">
                                                @Html.TextBoxFor(model => model.BenefitFileUpload, new { type = "file", @class = "filestyle" })
                                                @Html.ValidationMessageFor(model => model.BenefitFileUpload, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        @if (!string.IsNullOrEmpty(Model.BenefitImagePath))
                                        {
                                            <div class="form-group">
                                                <div class="col-md-10">
                                                    <img src="@Url.Content(Model.BenefitImagePath)" alt="@Model.BenefitImageAltText" width="300" height="92" class="img-thumbnail" />
                                                    @Html.EditorFor(model => model.BenefitImagePath, new { htmlAttributes = new { @class = "form-control d-none" } })
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.BenefitTitleNP, htmlAttributes: new { @class = "control-label col-md-6" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.BenefitTitleNP, new { htmlAttributes = new { @class = "form-control nepali" } })
                                                @Html.ValidationMessageFor(model => model.BenefitTitleNP, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.BenefitDescriptionNP, htmlAttributes: new { @class = "control-label col-md-6" })
                                            <div class="col-md-11">
                                                @Html.TextAreaFor(model => model.BenefitDescriptionNP, new { @class = "form-control editorHtml nepali", @rows = "7" })
                                                @Html.ValidationMessageFor(model => model.BenefitDescriptionNP, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix">&nbsp;</div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.BenefitImageTitleNP, htmlAttributes: new { @class = "control-label col-md-6" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.BenefitImageTitleNP, new { htmlAttributes = new { @class = "form-control nepali" } })
                                                @Html.ValidationMessageFor(model => model.BenefitImageTitleNP, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.BenefitImageCaptionNP, htmlAttributes: new { @class = "control-label col-md-6" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.BenefitImageCaptionNP, new { htmlAttributes = new { @class = "form-control nepali" } })
                                                @Html.ValidationMessageFor(model => model.BenefitImageCaptionNP, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane p-3" id="others" role="tabpanel">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.HowToApplyQuestionA, htmlAttributes: new { @class = "control-label col-md-6" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.HowToApplyQuestionA, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.HowToApplyQuestionA, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.HowToApplyAnswerA, htmlAttributes: new { @class = "control-label col-md-6" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.HowToApplyAnswerA, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.HowToApplyAnswerA, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.HowToApplyQuestionB, htmlAttributes: new { @class = "control-label col-md-6" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.HowToApplyQuestionB, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.HowToApplyQuestionB, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.HowToApplyAnswerB, htmlAttributes: new { @class = "control-label col-md-6" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.HowToApplyAnswerB, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.HowToApplyAnswerB, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix">&nbsp;</div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.ToolTitle, htmlAttributes: new { @class = "control-label col-md-6" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.ToolTitle, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.ToolTitle, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.ToolLink, htmlAttributes: new { @class = "control-label col-md-6" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.ToolLink, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.ToolLink, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.ToolDescription, htmlAttributes: new { @class = "control-label col-md-6" })
                                            <div class="col-md-11">
                                                @Html.TextAreaFor(model => model.ToolDescription, new { @class = "form-control editorHtml", @rows = "7" })
                                                @Html.ValidationMessageFor(model => model.ToolDescription, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix">&nbsp;</div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.DownloadTitle, htmlAttributes: new { @class = "control-label col-md-6" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.DownloadTitle, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.DownloadTitle, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.DownloadLink, htmlAttributes: new { @class = "control-label col-md-6" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.DownloadLink, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.DownloadLink, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.DownloadDescription, htmlAttributes: new { @class = "control-label col-md-6" })
                                            <div class="col-md-11">
                                                @Html.TextAreaFor(model => model.DownloadDescription, new { @class = "form-control editorHtml", @rows = "7" })
                                                @Html.ValidationMessageFor(model => model.DownloadDescription, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix">&nbsp;</div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.InterestRateTitle, htmlAttributes: new { @class = "control-label col-md-6" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.InterestRateTitle, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.InterestRateTitle, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.InterestRateLink, htmlAttributes: new { @class = "control-label col-md-6" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.InterestRateLink, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.InterestRateLink, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.InterestRateDescription, htmlAttributes: new { @class = "control-label col-md-6" })
                                            <div class="col-md-11">
                                                @Html.TextAreaFor(model => model.InterestRateDescription, new { @class = "form-control editorHtml", @rows = "7" })
                                                @Html.ValidationMessageFor(model => model.InterestRateDescription, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.HowToApplyQuestionANP, htmlAttributes: new { @class = "control-label col-md-6" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.HowToApplyQuestionANP, new { htmlAttributes = new { @class = "form-control nepali" } })
                                                @Html.ValidationMessageFor(model => model.HowToApplyQuestionANP, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.HowToApplyAnswerANP, htmlAttributes: new { @class = "control-label col-md-6" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.HowToApplyAnswerANP, new { htmlAttributes = new { @class = "form-control nepali" } })
                                                @Html.ValidationMessageFor(model => model.HowToApplyAnswerANP, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.HowToApplyQuestionBNP, htmlAttributes: new { @class = "control-label col-md-6" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.HowToApplyQuestionBNP, new { htmlAttributes = new { @class = "form-control nepali" } })
                                                @Html.ValidationMessageFor(model => model.HowToApplyQuestionBNP, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.HowToApplyAnswerBNP, htmlAttributes: new { @class = "control-label col-md-6" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.HowToApplyAnswerBNP, new { htmlAttributes = new { @class = "form-control nepali" } })
                                                @Html.ValidationMessageFor(model => model.HowToApplyAnswerBNP, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix">&nbsp;</div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.ToolTitleNP, htmlAttributes: new { @class = "control-label col-md-6" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.ToolTitleNP, new { htmlAttributes = new { @class = "form-control nepali" } })
                                                @Html.ValidationMessageFor(model => model.ToolTitleNP, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.ToolDescriptionNP, htmlAttributes: new { @class = "control-label col-md-6" })
                                            <div class="col-md-11">
                                                @Html.TextAreaFor(model => model.ToolDescriptionNP, new { @class = "form-control editorHtml nepali", @rows = "7" })
                                                @Html.ValidationMessageFor(model => model.ToolDescriptionNP, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix">&nbsp;</div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.DownloadTitleNP, htmlAttributes: new { @class = "control-label col-md-6" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.DownloadTitleNP, new { htmlAttributes = new { @class = "form-control nepali" } })
                                                @Html.ValidationMessageFor(model => model.DownloadTitleNP, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.DownloadDescriptionNP, htmlAttributes: new { @class = "control-label col-md-6" })
                                            <div class="col-md-11">
                                                @Html.TextAreaFor(model => model.DownloadDescriptionNP, new { @class = "form-control editorHtml nepali", @rows = "7" })
                                                @Html.ValidationMessageFor(model => model.DownloadDescriptionNP, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix">&nbsp;</div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.InterestRateTitleNP, htmlAttributes: new { @class = "control-label col-md-6" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.InterestRateTitleNP, new { htmlAttributes = new { @class = "form-control nepali" } })
                                                @Html.ValidationMessageFor(model => model.InterestRateTitleNP, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.InterestRateDescriptionNP, htmlAttributes: new { @class = "control-label col-md-6" })
                                            <div class="col-md-11">
                                                @Html.TextAreaFor(model => model.InterestRateDescriptionNP, new { @class = "form-control editorHtml nepali", @rows = "7" })
                                                @Html.ValidationMessageFor(model => model.InterestRateDescriptionNP, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix">&nbsp;</div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="submit" value="Save" class="btn btn-primary waves-effect waves-light" />
                                        @*<input type="reset" value="Reset" class="btn btn-primary waves-effect waves-light" />*@
                                        @*<input type="button" value="Cancel" class="btn btn-primary waves-effect waves-light" onclick="location.href='@Url.Action("Index", "PageList", new { id = ViewBag.SubMenuId })';" />*@
                                        <input type="button" value="Cancel" class="btn btn-primary waves-effect waves-light" onclick="location.href='@Url.Action("Index", "ProductDetail", new { id = ViewBag.PageId, sid = ViewBag.SubMenuId })';" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div> <!-- end col -->
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}