﻿@model NIBL.Models.ViewModels.Shared.LockerViewModel

@{
    ViewBag.Title = "View Page Content";
}

<!-- start page title -->
<div class="row align-items-center">
    @Html.Partial("~/Areas/Admin/Views/Shared/_PageHeaderLayout.cshtml")

    <div class="col-sm-6">
        <div class="float-right d-none d-md-block">
            @if (Model.Lockers.Count() < 1)
            {
                <button class="btn btn-primary waves-effect waves-light" aria-haspopup="true" aria-expanded="false" onclick="location.href='@Url.Action("Create", "Locker", new {  id = ViewBag.PageId, sid = ViewBag.SubMenuId })';">
                    <i class="fas fa-plus mr-2"></i> @Html.ActionLink("Add New", "Create", new { Area = "Admin", Controller = "Locker", id = ViewBag.PageId, sid = ViewBag.SubMenuId })
                </button>
            }
            <button class="btn btn-primary waves-effect waves-light" aria-haspopup="true" aria-expanded="false" onclick="location.href='@Url.Action("Index", "PageList", new { id = ViewBag.SubMenuId })';">
                <i class="fas fa-step-backward mr-2"></i> @Html.ActionLink("Go Back", "Index", new { Area = "Admin", Controller = "PageList", id = ViewBag.SubMenuId })
            </button>
        </div>
    </div>
</div>
<!-- end page title -->

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Locker Content</h4>
                <p class="card-title-desc">
                    List of content information based on sub menu in the application.
                </p>

                <table id="datatable" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                    <thead>
                        <tr>
                            <th>S.N.</th>
                            <th>
                                @Html.DisplayNameFor(model => model.Lockers.First().OverviewTitle)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Lockers.First().Page.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Lockers.First().IsEnabled)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Lockers.Count() > 0)
                        {
                            foreach (var item in Model.Lockers)
                            {
                                <tr>
                                    <td class="text-center">
                                        @(@Model.Lockers.ToList().IndexOf(item) + (int)1)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.OverviewTitle)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Page.Name)
                                    </td>
                                    <td class="text-center">
                                        @if (!item.IsEnabled)
                                        {
                                            <i class="fas fa-times-circle" aria-hidden="true" style="color:#ff0000;"></i>
                                        }
                                        else
                                        {
                                            <i class="fas fa-check-circle" aria-hidden="true" style="color:#3ac13a;"></i>
                                        }
                                    </td>
                                    <td class="text-center">
                                        <a href="@Url.Action("Edit","Locker", new { id = item.Id, sId = ViewBag.SubMenuId})"><i class="fas fa-pencil-alt" aria-hidden="true"></i></a> |
                                        <a href="@Url.Action("Delete","Locker", new { id = item.Id, sId = ViewBag.SubMenuId} )" onclick="confirmDelete(this); return false;"><i class="fas fa-trash-alt" aria-hidden="true"></i></a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- start page title -->
<div class="row align-items-center">
    <div class="col-sm-6">
        <div class="page-title-box">
            <h4 class="font-size-18">&nbsp;</h4>
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item">
                    &nbsp;
                </li>
            </ol>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="float-right d-none d-md-block">
            <button class="btn btn-primary waves-effect waves-light" aria-haspopup="true" aria-expanded="false" onclick="location.href='@Url.Action("Create", "LockerCategory", new {  id = ViewBag.PageId, sid = ViewBag.SubMenuId })';">
                <i class="fas fa-plus mr-2"></i> @Html.ActionLink("Add New", "Create", new { Area = "Admin", Controller = "LockerCategory", id = ViewBag.PageId, sid = ViewBag.SubMenuId })
            </button>
        </div>
    </div>
</div>
<!-- end page title -->

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Locker Category</h4>
                <p class="card-title-desc">
                    List of locker category information in the application.
                </p>

                <table id="" class="table table-bordered dt-responsive nowrap display" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                    <thead>
                        <tr>
                            <th>S.N.</th>
                            <th>
                                @Html.DisplayNameFor(model => model.LockerCategorys.First().Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.LockerCategorys.First().Description)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.LockerCategorys.First().IsEnabled)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.LockerCategorys.Count() > 0)
                        {
                            foreach (var item in Model.LockerCategorys)
                            {
                                <tr>
                                    <td class="text-center">
                                        @(@Model.LockerCategorys.ToList().IndexOf(item) + (int)1)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Description)
                                    </td>
                                    <td class="text-center">
                                        @if (!item.IsEnabled)
                                        {
                                            <i class="fas fa-times-circle" aria-hidden="true" style="color:#ff0000;"></i>
                                        }
                                        else
                                        {
                                            <i class="fas fa-check-circle" aria-hidden="true" style="color:#3ac13a;"></i>
                                        }
                                    </td>
                                    <td class="text-center">
                                        <a href="@Url.Action("Edit","LockerCategory", new { id = item.Id, sId = ViewBag.SubMenuId, pId = ViewBag.PageId })"><i class="fas fa-pencil-alt" aria-hidden="true"></i></a> |
                                        <a href="@Url.Action("Delete","LockerCategory", new { id = item.Id, sId = ViewBag.SubMenuId, pId = ViewBag.PageId } )" onclick="confirmDelete(this); return false;"><i class="fas fa-trash-alt" aria-hidden="true"></i></a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- start page title -->
<div class="row align-items-center">
    <div class="col-sm-6">
        <div class="page-title-box">
            <h4 class="font-size-18">&nbsp;</h4>
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item">
                    &nbsp;
                </li>
            </ol>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="float-right d-none d-md-block">
            <button class="btn btn-primary waves-effect waves-light" aria-haspopup="true" aria-expanded="false" onclick="location.href='@Url.Action("Create", "LockerDetail", new {  id = ViewBag.PageId, sid = ViewBag.SubMenuId })';">
                <i class="fas fa-plus mr-2"></i> @Html.ActionLink("Add New", "Create", new { Area = "Admin", Controller = "LockerDetail", id = ViewBag.PageId, sid = ViewBag.SubMenuId })
            </button>
        </div>
    </div>
</div>
<!-- end page title -->

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Locker Detail</h4>
                <p class="card-title-desc">
                    List of locker detail information in the application.
                </p>

                <table id="" class="table table-bordered dt-responsive nowrap display" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                    <thead>
                        <tr>
                            <th>S.N.</th>
                            <th>
                                @Html.DisplayNameFor(model => model.LockerDetails.First().LockerType)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.LockerDetails.First().Height)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.LockerDetails.First().Width)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.LockerDetails.First().Depth)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.LockerDetails.First().KeyDeposits)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.LockerDetails.First().AnnualChargeOutsideValley)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.LockerDetails.First().AnnualChargeInsideValley)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.LockerDetails.First().IsEnabled)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.LockerDetails.Count() > 0)
                        {
                            foreach (var item in Model.LockerDetails)
                            {
                                <tr>
                                    <td class="text-center">
                                        @(@Model.LockerDetails.ToList().IndexOf(item) + (int)1)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.LockerType)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Height)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Width)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Depth)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.KeyDeposits)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.AnnualChargeOutsideValley)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.AnnualChargeInsideValley)
                                    </td>
                                    <td class="text-center">
                                        @if (!item.IsEnabled)
                                        {
                                            <i class="fas fa-times-circle" aria-hidden="true" style="color:#ff0000;"></i>
                                        }
                                        else
                                        {
                                            <i class="fas fa-check-circle" aria-hidden="true" style="color:#3ac13a;"></i>
                                        }
                                    </td>
                                    <td class="text-center">
                                        <a href="@Url.Action("Edit","LockerDetail", new { id = item.Id, sId = ViewBag.SubMenuId, pId = ViewBag.PageId })"><i class="fas fa-pencil-alt" aria-hidden="true"></i></a> |
                                        <a href="@Url.Action("Delete","LockerDetail", new { id = item.Id, sId = ViewBag.SubMenuId, pId = ViewBag.PageId } )" onclick="confirmDelete(this); return false;"><i class="fas fa-trash-alt" aria-hidden="true"></i></a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- start page title -->
<div class="row align-items-center">
    <div class="col-sm-6">
        <div class="page-title-box">
            <h4 class="font-size-18">&nbsp;</h4>
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item">
                    &nbsp;
                </li>
            </ol>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="float-right d-none d-md-block">
            <button class="btn btn-primary waves-effect waves-light" aria-haspopup="true" aria-expanded="false" onclick="location.href='@Url.Action("Create", "LockerTiming", new {  id = ViewBag.PageId, sid = ViewBag.SubMenuId })';">
                <i class="fas fa-plus mr-2"></i> @Html.ActionLink("Add New", "Create", new { Area = "Admin", Controller = "LockerTiming", id = ViewBag.PageId, sid = ViewBag.SubMenuId })
            </button>
        </div>
    </div>
</div>
<!-- end page title -->

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Locker Timing</h4>
                <p class="card-title-desc">
                    List of locker timing information in the application.
                </p>

                <table id="" class="table table-bordered dt-responsive nowrap display" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                    <thead>
                        <tr>
                            <th>S.N.</th>
                            <th>
                                @Html.DisplayNameFor(model => model.LockerTimings.First().BranchId)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.LockerTimings.First().LockerTime)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.LockerTimings.First().NormalTime)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.LockerTimings.First().FridayTime)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.LockerDetails.First().IsEnabled)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.LockerTimings.Count() > 0)
                        {
                            foreach (var item in Model.LockerTimings)
                            {
                                <tr>
                                    <td class="text-center">
                                        @(@Model.LockerTimings.ToList().IndexOf(item) + (int)1)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Branch.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.LockerTime)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.NormalTime)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.FridayTime)
                                    </td>
                                    <td class="text-center">
                                        @if (!item.IsEnabled)
                                        {
                                            <i class="fas fa-times-circle" aria-hidden="true" style="color:#ff0000;"></i>
                                        }
                                        else
                                        {
                                            <i class="fas fa-check-circle" aria-hidden="true" style="color:#3ac13a;"></i>
                                        }
                                    </td>
                                    <td class="text-center">
                                        <a href="@Url.Action("Edit","LockerTiming", new { id = item.Id, sId = ViewBag.SubMenuId, pId = ViewBag.PageId })"><i class="fas fa-pencil-alt" aria-hidden="true"></i></a> |
                                        <a href="@Url.Action("Delete","LockerTiming", new { id = item.Id, sId = ViewBag.SubMenuId, pId = ViewBag.PageId } )" onclick="confirmDelete(this); return false;"><i class="fas fa-trash-alt" aria-hidden="true"></i></a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- start page title -->
<div class="row align-items-center">
    <div class="col-sm-6">
        <div class="page-title-box">
            <h4 class="font-size-18">&nbsp;</h4>
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item">
                    &nbsp;
                </li>
            </ol>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="float-right d-none d-md-block">
            <button class="btn btn-primary waves-effect waves-light" aria-haspopup="true" aria-expanded="false" onclick="location.href='@Url.Action("Create", "LockerAvailable", new {  id = ViewBag.PageId, sid = ViewBag.SubMenuId })';">
                <i class="fas fa-plus mr-2"></i> @Html.ActionLink("Add New", "Create", new { Area = "Admin", Controller = "LockerAvailable", id = ViewBag.PageId, sid = ViewBag.SubMenuId })
            </button>
        </div>
    </div>
</div>
<!-- end page title -->

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Available Lockers</h4>
                <p class="card-title-desc">
                    List of available locker information in the application.
                </p>

                <table id="" class="table table-bordered dt-responsive nowrap display" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                    <thead>
                        <tr>
                            <th>S.N.</th>
                            <th>
                                @Html.DisplayNameFor(model => model.LockerAvailables.First().BranchId)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.LockerAvailables.First().LockerDetailId)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.LockerAvailables.First().IsEnabled)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.LockerAvailables.Count() > 0)
                        {
                            foreach (var item in Model.LockerAvailables)
                            {
                                <tr>
                                    <td class="text-center">
                                        @(@Model.LockerAvailables.ToList().IndexOf(item) + (int)1)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Branch.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.LockerDetail.LockerType)
                                    </td>
                                    <td class="text-center">
                                        @if (!item.IsEnabled)
                                        {
                                            <i class="fas fa-times-circle" aria-hidden="true" style="color:#ff0000;"></i>
                                        }
                                        else
                                        {
                                            <i class="fas fa-check-circle" aria-hidden="true" style="color:#3ac13a;"></i>
                                        }
                                    </td>
                                    <td class="text-center">
                                        <a href="@Url.Action("Edit","LockerAvailable", new { id = item.Id, sId = ViewBag.SubMenuId, pId = ViewBag.PageId })"><i class="fas fa-pencil-alt" aria-hidden="true"></i></a> |
                                        <a href="@Url.Action("Delete","LockerAvailable", new { id = item.Id, sId = ViewBag.SubMenuId, pId = ViewBag.PageId } )" onclick="confirmDelete(this); return false;"><i class="fas fa-trash-alt" aria-hidden="true"></i></a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>